{
  "openapi": "3.1.0",
  "info": {
    "title": "Gridex Customer Portal and Website API",
    "version": "2026-07-20.2",
    "description": "Kanoniskt kontrakt för samtliga /api/v1-routes. API-token bestämmer company_id. GET /api/v1/website/public-contracts är ett presentations- och urvals-API, medan POST /api/v1/website/quote är den enda kanoniska prisberäkningen och använder den låsta prisversionen även för komponenter som är dolda på avtalskortet. company_id accepteras aldrig som fri tenantväljare. Website-avtal väljs endast med opak offer_reference och slutmarkeras server-side mot varje exakt dokument i erbjudandets låsta juridikpaket. Portföljmetod, final historik och icke-bindande indikationer hålls isär; slutlig fakturering kräver en exakt låst avräkningsrevision."
  },
  "servers": [
    {
      "url": "https://app.gridex.se"
    }
  ],
  "paths": {
    "/api/v1/customer-portal/sync": {
      "post": {
        "operationId": "postApiV1CustomerPortalSync",
        "summary": "Länka extern portalidentitet till en entydig kund.",
        "security": [
          {
            "bearerAuth": [
              "customer_sync.write"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_sync.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/contracts": {
      "get": {
        "operationId": "getApiV1CustomerContracts",
        "summary": "Hämta kundens avtal.",
        "security": [
          {
            "bearerAuth": [
              "customer_contracts.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_contracts.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerContract"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "Hämtar den lösta kundens tecknade customer_contracts inom API-nyckelns tenant, inklusive immutable offer-/juridik-/signaturreferenser när tillgängliga."
      }
    },
    "/api/v1/customer/documents": {
      "get": {
        "operationId": "getApiV1CustomerDocuments",
        "summary": "Hämta kundens dokument.",
        "security": [
          {
            "bearerAuth": [
              "customer_documents.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_documents.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/events": {
      "get": {
        "operationId": "getApiV1CustomerEvents",
        "summary": "Hämta kundens händelser.",
        "security": [
          {
            "bearerAuth": [
              "customer_events.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_events.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/invoices/{id}": {
      "get": {
        "operationId": "getApiV1CustomerInvoicesId}",
        "summary": "Hämta en tenant- och kundbunden faktura.",
        "security": [
          {
            "bearerAuth": [
              "customer_invoices.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_invoices.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/invoices": {
      "get": {
        "operationId": "getApiV1CustomerInvoices",
        "summary": "Hämta kundens fakturor.",
        "security": [
          {
            "bearerAuth": [
              "customer_invoices.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_invoices.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/legal-acceptances": {
      "get": {
        "operationId": "getApiV1CustomerLegalAcceptances",
        "summary": "Hämta juridiska godkännanden.",
        "security": [
          {
            "bearerAuth": [
              "customer_legal.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_legal.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/me": {
      "get": {
        "operationId": "getApiV1CustomerMe",
        "summary": "Hämta kundprofil.",
        "security": [
          {
            "bearerAuth": [
              "customer_profile.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_profile.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/metering-values": {
      "get": {
        "operationId": "getApiV1CustomerMeteringValues",
        "summary": "Hämta kanoniska mätvärden.",
        "security": [
          {
            "bearerAuth": [
              "customer_metering.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_metering.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/move-out": {
      "post": {
        "operationId": "postApiV1CustomerMoveOut",
        "summary": "Registrera utflyttning med verkligt kalenderdatum.",
        "security": [
          {
            "bearerAuth": [
              "customer_facility_data.write"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_facility_data.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/notifications/read": {
      "post": {
        "operationId": "postApiV1CustomerNotificationsRead",
        "summary": "Markera exakt angivna notiser som lästa.",
        "security": [
          {
            "bearerAuth": [
              "customer_notifications.write"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_notifications.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/notifications": {
      "get": {
        "operationId": "getApiV1CustomerNotifications",
        "summary": "Hämta kundnotiser.",
        "security": [
          {
            "bearerAuth": [
              "customer_notifications.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_notifications.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/portal-bundle": {
      "get": {
        "operationId": "getApiV1CustomerPortalBundle",
        "summary": "Hämta kundportalpaket via headers/query.",
        "security": [
          {
            "bearerAuth": [
              "customer_profile.read",
              "customer_sites.read",
              "customer_contracts.read",
              "customer_invoices.read",
              "customer_metering.read",
              "customer_legal.read",
              "customer_events.read",
              "customer_documents.read",
              "customer_notifications.read",
              "customer_power_of_attorney.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_profile.read",
          "customer_sites.read",
          "customer_contracts.read",
          "customer_invoices.read",
          "customer_metering.read",
          "customer_legal.read",
          "customer_events.read",
          "customer_documents.read",
          "customer_notifications.read",
          "customer_power_of_attorney.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "postApiV1CustomerPortalBundle",
        "summary": "Hämta kundportalpaket via JSON-body.",
        "security": [
          {
            "bearerAuth": [
              "customer_profile.read",
              "customer_sites.read",
              "customer_contracts.read",
              "customer_invoices.read",
              "customer_metering.read",
              "customer_legal.read",
              "customer_events.read",
              "customer_documents.read",
              "customer_notifications.read",
              "customer_power_of_attorney.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_profile.read",
          "customer_sites.read",
          "customer_contracts.read",
          "customer_invoices.read",
          "customer_metering.read",
          "customer_legal.read",
          "customer_events.read",
          "customer_documents.read",
          "customer_notifications.read",
          "customer_power_of_attorney.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/powers-of-attorney": {
      "get": {
        "operationId": "getApiV1CustomerPowersOfAttorney",
        "summary": "Hämta fullmakter.",
        "security": [
          {
            "bearerAuth": [
              "customer_power_of_attorney.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_power_of_attorney.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/profile-update": {
      "post": {
        "operationId": "postApiV1CustomerProfileUpdate",
        "summary": "Uppdatera kontakt- eller anläggningsuppgifter.",
        "security": [
          {
            "bearerAuth": [
              "customer_contact.write",
              "customer_facility_data.write"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_contact.write",
          "customer_facility_data.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/sites": {
      "get": {
        "operationId": "getApiV1CustomerSites",
        "summary": "Hämta anläggningar och mätpunkter.",
        "security": [
          {
            "bearerAuth": [
              "customer_sites.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_sites.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/sync": {
      "post": {
        "operationId": "postApiV1CustomerSync",
        "summary": "Synka dokument, fullmakter, juridik och anläggningsdata.",
        "security": [
          {
            "bearerAuth": [
              "customer_sync.write"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_sync.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/events": {
      "get": {
        "operationId": "getApiV1Events",
        "summary": "Hämta tenantens domänhändelser.",
        "security": [
          {
            "bearerAuth": [
              "events.read"
            ]
          }
        ],
        "x-required-scopes": [
          "events.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "postApiV1Events",
        "summary": "Skicka kundhändelse från hemsida eller portal.",
        "security": [
          {
            "bearerAuth": [
              "website_events.write"
            ]
          }
        ],
        "x-required-scopes": [
          "website_events.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/website/customer-applications": {
      "post": {
        "operationId": "postApiV1WebsiteCustomerApplications",
        "summary": "Skapa idempotent kundansökan.",
        "security": [
          {
            "bearerAuth": [
              "website_applications.write"
            ]
          }
        ],
        "x-required-scopes": [
          "website_applications.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteCustomerApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ansökan sparad. Avtalsstatus och communication-status är serverns source of truth.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteCustomerApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable",
            "description": "Valideringsfel, t.ex. offer_reference_required, offer_selector_mismatch, offer_legal_version_mismatch eller legal_acceptance_missing."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "Skapar en idempotent ansökan från exakt offer_reference som först har offererats via POST /api/v1/website/quote. OPS binder exakt publicerings- och prisversion, fem juridiska accepter och slutmarkerar avtalet atomiskt som signed. Klienten får inte rekonstruera pris från GET public-contracts."
      }
    },
    "/api/v1/website/customer-events": {
      "post": {
        "operationId": "postApiV1WebsiteCustomerEvents",
        "summary": "Skicka kundhändelse från hemsida.",
        "security": [
          {
            "bearerAuth": [
              "website_events.write"
            ]
          }
        ],
        "x-required-scopes": [
          "website_events.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/website/legal-bundle": {
      "get": {
        "operationId": "getApiV1WebsiteLegalBundle",
        "summary": "Hämta publicerat juridikpaket.",
        "security": [
          {
            "bearerAuth": [
              "website_legal.read",
              "website_contracts.read"
            ]
          }
        ],
        "x-required-scopes": [
          "website_legal.read",
          "website_contracts.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/website/portfolio-prices": {
      "get": {
        "operationId": "getApiV1WebsitePortfolioPrices",
        "summary": "Hämta portföljmetod, final historik och icke-bindande indikationer.",
        "description": "Read-only och tenant-scopad från API-token. offer_reference väljer exakt publicerat portfölj-/mixavtal. Indikationer är alltid non_binding och slutlig fakturering kräver exakt locked settlement.",
        "security": [
          {
            "bearerAuth": [
              "website_contracts.read"
            ]
          }
        ],
        "x-required-scopes": [
          "website_contracts.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "name": "offer_reference",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "price_area",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SE1",
                "SE2",
                "SE3",
                "SE4"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metod, historiska finala avräkningar och tillgängliga icke-bindande indikationer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "offer_reference",
                        "historical_final_prices",
                        "indications",
                        "non_binding",
                        "final_billing_rule"
                      ],
                      "properties": {
                        "offer_reference": {
                          "type": "string"
                        },
                        "price_plan_version_id": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "legal_bundle_version_id": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "method": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": true
                        },
                        "historical_final_prices": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PortfolioHistoricalFinalPrice"
                          }
                        },
                        "indications": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PortfolioPriceIndication"
                          }
                        },
                        "indication_available": {
                          "type": "boolean"
                        },
                        "non_binding": {
                          "type": "boolean",
                          "const": true
                        },
                        "final_billing_rule": {
                          "type": "string",
                          "const": "locked_settlement_only"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Publicerat portfölj-/mixavtal hittades inte."
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/website/public-contracts": {
      "get": {
        "operationId": "getApiV1WebsitePublicContracts",
        "summary": "Lista publicerade avtalskort och välj offer_reference.",
        "security": [
          {
            "bearerAuth": [
              "website_contracts.read"
            ]
          }
        ],
        "x-required-scopes": [
          "website_contracts.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business"
              ]
            },
            "description": "Filtrera erbjudanden för kundtyp; both matchar båda."
          },
          {
            "name": "diagnostics",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Returnera publiceringsdiagnostik och blockerare i stället för normal kundlista."
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PublicContractOffer"
                          }
                        },
                        "contracts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PublicContractOffer"
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "data"
                      ],
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublicContractDiagnostics"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "description": "Presentations- och urvals-API. Returnerar endast publiceringsklara erbjudanden för API-nyckelns tenant. Dolda komponenter kan visas som null eller saknas i kortets pricing/components utan att de upphör att vara debiterbara. Värdet 0 är ett giltigt publicerat numeriskt värde och får inte testas med truthy/falsy. Integratören ska kontrollera value === null || value === undefined. offer_reference ska skickas till POST /quote och därefter till customer-applications. diagnostics=1 ger tenant-scopad readiness, inklusive fakturaavgiftens status och källa."
      }
    },
    "/api/v1/website/quote": {
      "post": {
        "operationId": "postApiV1WebsiteQuote",
        "summary": "Beräkna offert för publicerat erbjudande utan mutation.",
        "security": [
          {
            "bearerAuth": [
              "website_contracts.read"
            ]
          }
        ],
        "x-required-scopes": [
          "website_contracts.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Komplett offert från exakt låst prisversion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteQuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable",
            "description": "Beräkningen kan inte genomföras, exempelvis invoice_fee_missing, invoice_fee_conflict, invoice_fee_ambiguous eller portfolio_price_missing."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "Kanonisk server-side prisberäkning från exakt offer_reference och låst prisversion. Fakturaavgift, månadsavgift, påslag och övriga verkliga komponenter räknas även när de inte visas på avtalskortet. Svarets lines är det beräkningsunderlag som checkout och tecknande ska visa; GET public-contracts får inte användas för lokal totalsummering."
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Gridex API token"
      }
    },
    "parameters": {
      "RequestId": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 200
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 8,
          "maxLength": 200,
          "pattern": "^[A-Za-z0-9._:+~-]+$"
        }
      },
      "ExternalCustomerId": {
        "name": "x-gridex-external-customer-id",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 200
        }
      },
      "CustomerNumber": {
        "name": "x-gridex-customer-number",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 100
        }
      },
      "CustomerEmail": {
        "name": "x-gridex-customer-email",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "format": "email"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Ogiltig JSON eller validering.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error",
                "code",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "field": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "hint": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Token saknas eller är ogiltig.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error",
                "code",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "field": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "hint": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Scope, IP eller origin tillåts inte.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error",
                "code",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "field": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "hint": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "Tvetydig matchning eller idempotenskonflikt.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error",
                "code",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "field": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "hint": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Unprocessable": {
        "description": "Affärsvalidering misslyckades.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error",
                "code",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "field": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "hint": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "API-klientens trafikgräns har överskridits.",
        "headers": {
          "Retry-After": {
            "description": "Sekunder till nästa tillåtna försök.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          "X-RateLimit-Limit": {
            "description": "Tillåtet antal anrop i aktuellt fönster.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Återstående anrop i aktuellt fönster.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          "X-RateLimit-Reset": {
            "description": "ISO 8601-tid när fönstret återställs.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "example": {
              "error": {
                "code": "rate_limited",
                "message": "API-klientens trafikgräns har överskridits. Försök igen när rate-limit-fönstret har återställts."
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Internt fel utan databasdetaljer.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error",
                "code",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "field": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "hint": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Tjänsten eller ett obligatoriskt skydd är tillfälligt otillgängligt.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "examples": {
              "rateLimiterUnavailable": {
                "value": {
                  "error": {
                    "code": "api_rate_limiter_unavailable",
                    "message": "API:ts trafikskydd kunde inte verifieras. Försök igen senare."
                  }
                }
              },
              "invalidRateLimit": {
                "value": {
                  "error": {
                    "code": "api_rate_limit_invalid",
                    "message": "API-klientens trafikgräns är felkonfigurerad."
                  }
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "PortfolioSettlementPermission": {
        "type": "string",
        "description": "OPS-behörigheter är default-deny och får endast delegeras av platform_superadmin med tenant-, portfölj- och tids-scope. manage_access kan aldrig delegeras.",
        "enum": [
          "portfolio_settlement.read",
          "portfolio_settlement.create",
          "portfolio_settlement.import",
          "portfolio_settlement.calculate",
          "portfolio_settlement.review",
          "portfolio_settlement.approve",
          "portfolio_settlement.lock",
          "portfolio_settlement.correct",
          "portfolio_settlement.manage_access"
        ]
      },
      "PortfolioHistoricalFinalPrice": {
        "type": "object",
        "required": [
          "id",
          "portfolio_id",
          "price_plan_version_id",
          "period_month",
          "price_area_code",
          "amount",
          "unit",
          "status",
          "revision_no",
          "historical"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "portfolio_id": {
            "type": "string",
            "format": "uuid"
          },
          "price_plan_version_id": {
            "type": "string",
            "format": "uuid"
          },
          "period_month": {
            "type": "string",
            "format": "date",
            "description": "Canonical delivery_month."
          },
          "price_area_code": {
            "type": "string",
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4"
            ]
          },
          "amount": {
            "type": "number",
            "description": "Historiskt slutpris i öre/kWh exklusive moms."
          },
          "unit": {
            "type": "string",
            "const": "ore_per_kwh"
          },
          "vat_included": {
            "type": "boolean",
            "const": false
          },
          "status": {
            "type": "string",
            "enum": [
              "final",
              "locked"
            ]
          },
          "revision_no": {
            "type": "integer",
            "minimum": 1
          },
          "final_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "historical": {
            "type": "boolean",
            "const": true
          }
        },
        "additionalProperties": false
      },
      "PortfolioPriceIndication": {
        "type": "object",
        "required": [
          "id",
          "portfolio_id",
          "price_plan_version_id",
          "estimate_month",
          "price_area_code",
          "estimate_source",
          "estimate_price_ore_per_kwh",
          "estimate_generated_at",
          "non_binding"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "portfolio_id": {
            "type": "string",
            "format": "uuid"
          },
          "price_plan_version_id": {
            "type": "string",
            "format": "uuid"
          },
          "estimate_month": {
            "type": "string",
            "format": "date"
          },
          "price_area_code": {
            "type": "string",
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4"
            ]
          },
          "estimate_source": {
            "type": "string",
            "enum": [
              "latest_final",
              "rolling_3",
              "forecast",
              "manual"
            ]
          },
          "estimate_price_ore_per_kwh": {
            "type": "number"
          },
          "estimate_generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "confidence": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "low",
              "medium",
              "high",
              null
            ]
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "non_binding": {
            "type": "boolean",
            "const": true
          },
          "label": {
            "type": "string",
            "const": "Uppskattning – ej bindande"
          }
        },
        "additionalProperties": true
      },
      "ApiError": {
        "type": "object",
        "required": [
          "error",
          "code",
          "message"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "stage": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "field": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "hint": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        }
      },
      "PublicContractOffer": {
        "type": "object",
        "required": [
          "id",
          "offer_reference",
          "code",
          "name",
          "type",
          "customer_type",
          "pricing",
          "legal"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Samma opaka värde som offer_reference; inget internt UUID."
          },
          "offer_reference": {
            "type": "string",
            "pattern": "^offer_",
            "description": "Enda kanoniska väljaren för POST customer-applications."
          },
          "contract_offer_id": {
            "type": [
              "string",
              "null"
            ],
            "deprecated": true,
            "description": "Kompatibilitetsalias för offer_reference; inte ett internt offer-ID."
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "customer_type": {
            "type": "string",
            "enum": [
              "private",
              "business",
              "both"
            ]
          },
          "pricing": {
            "type": "object",
            "required": [
              "visibility",
              "components"
            ],
            "properties": {
              "monthly_fee": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true
              },
              "invoice_fee": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true,
                "description": "Presentationsfält för avtalskortet. null kan betyda dold på kortet; använd POST /quote för verklig beräkningsavgift. 0 är ett giltigt belopp."
              },
              "markup": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true
              },
              "spot_markup": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true
              },
              "variable_fee": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true
              },
              "fixed_price": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true
              },
              "green_fee": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true
              },
              "electricity_certificate": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true
              },
              "start_fee": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true
              },
              "administration_fee": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true
              },
              "break_fee": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true
              },
              "portfolio_management_fee": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "amount": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "unit": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "calculation_base": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/PricingCalculationBase"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "additionalProperties": false
              },
              "discount": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true
              },
              "visibility": {
                "$ref": "#/components/schemas/PublicPricingVisibility"
              },
              "components": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PublicPricingComponent"
                },
                "description": "Innehåller endast komponenter som får visas på hemsidans avtalskort."
              },
              "public_price_text": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Genererad marknadstext som endast innehåller website-card-visible prisdelar."
              },
              "portfolio_price": {
                "$ref": "#/components/schemas/PortfolioPriceDisplay"
              },
              "portfolio_monthly_prices": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PortfolioMonthlyPrice"
                },
                "description": "Exact tenant- and price-plan-version-scoped published monthly prices. Empty when portfolio_price visibility is false."
              }
            },
            "additionalProperties": true
          },
          "legal": {
            "type": "object",
            "additionalProperties": true,
            "description": "Exakta OPS-publicerade versioner för erbjudandet."
          },
          "valid_from": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "valid_to": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "website_cta_enabled": {
            "type": "boolean"
          },
          "customer_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "private",
                "business"
              ]
            },
            "minItems": 1,
            "uniqueItems": true,
            "description": "Entydig expansion av customer_type. both blir [private,business]."
          },
          "portfolio_price_ore_per_kwh": {
            "type": [
              "number",
              "null"
            ],
            "description": "Legacy scalar only when all visible area prices share one amount; otherwise null. Use pricing.portfolio_monthly_prices."
          },
          "portfolio_management_fee": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true,
            "description": "Canonical generic fee object. Prefer pricing.portfolio_management_fee."
          }
        },
        "additionalProperties": true
      },
      "PublicContractDiagnostics": {
        "type": "object",
        "required": [
          "total",
          "visible",
          "hidden",
          "offers"
        ],
        "properties": {
          "total": {
            "type": "integer"
          },
          "visible": {
            "type": "integer"
          },
          "hidden": {
            "type": "integer"
          },
          "offers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "name",
                "visible",
                "blockers",
                "pricing_readiness"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "visible": {
                  "type": "boolean"
                },
                "blockers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "offer_reference": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "pricing_readiness": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "invoice_fee"
                  ],
                  "properties": {
                    "invoice_fee": {
                      "oneOf": [
                        {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "status",
                            "amount",
                            "unit",
                            "calculation_type",
                            "website_card_visible",
                            "source"
                          ],
                          "properties": {
                            "status": {
                              "const": "ready"
                            },
                            "amount": {
                              "type": "number",
                              "minimum": 0
                            },
                            "unit": {
                              "const": "sek_invoice"
                            },
                            "calculation_type": {
                              "const": "per_invoice"
                            },
                            "website_card_visible": {
                              "type": "boolean"
                            },
                            "source": {
                              "const": "price_plan_version"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "additionalProperties": true,
                          "required": [
                            "status",
                            "code"
                          ],
                          "properties": {
                            "status": {
                              "const": "blocked"
                            },
                            "code": {
                              "type": "string",
                              "enum": [
                                "invoice_fee_missing",
                                "invoice_fee_conflict",
                                "invoice_fee_ambiguous"
                              ]
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "additionalProperties": true
            }
          }
        }
      },
      "WebsiteCustomerApplicationRequest": {
        "type": "object",
        "required": [
          "external_customer_id",
          "customer",
          "consents"
        ],
        "properties": {
          "external_customer_id": {
            "type": "string",
            "minLength": 1
          },
          "offer_reference": {
            "type": "string",
            "pattern": "^offer_"
          },
          "customer": {
            "type": "object",
            "required": [
              "email"
            ],
            "additionalProperties": true
          },
          "site": {
            "type": "object",
            "additionalProperties": true
          },
          "contract": {
            "type": "object",
            "properties": {
              "offer_reference": {
                "type": "string",
                "pattern": "^offer_"
              }
            },
            "additionalProperties": true
          },
          "consents": {
            "type": "object",
            "required": [
              "terms",
              "privacy_policy",
              "withdrawal",
              "power_of_attorney",
              "price_terms"
            ],
            "properties": {
              "terms": {
                "const": true
              },
              "privacy_policy": {
                "const": true
              },
              "withdrawal": {
                "const": true
              },
              "power_of_attorney": {
                "const": true
              },
              "price_terms": {
                "const": true
              }
            },
            "additionalProperties": true
          },
          "powerOfAttorney": {
            "type": "object",
            "additionalProperties": true
          },
          "signed_at": {
            "deprecated": true,
            "description": "Ignorerad som juridisk signeringstid. OPS använder serverns acceptanstid."
          }
        },
        "anyOf": [
          {
            "required": [
              "offer_reference"
            ]
          },
          {
            "properties": {
              "contract": {
                "required": [
                  "offer_reference"
                ]
              }
            }
          }
        ],
        "additionalProperties": true
      },
      "WebsiteCustomerApplicationResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "application_id": {
                "type": "string",
                "format": "uuid"
              },
              "contract_id": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "uuid"
              },
              "contract_status": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "signed",
                  null
                ]
              },
              "signed_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              },
              "withdrawal_deadline_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              },
              "signature_snapshot_sha256": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^[a-f0-9]{64}$",
                "description": "SHA-256 över det frysta servergenererade signeringssnapshotet. Kan användas för verifiering och support; klienten får aldrig skicka eller bestämma värdet."
              },
              "can_send_agreement_confirmation": {
                "type": "boolean",
                "description": "True when the exact five offer-bound legal acceptances have been finalized and the signed agreement is eligible for confirmation. Independent from facility lookup and can_start_switch."
              },
              "offer_reference": {
                "type": "string"
              },
              "communication": {
                "type": "object",
                "properties": {
                  "triggered": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "queued": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sent": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "failed": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "source_of_truth": {
                    "const": "communication_logs"
                  }
                },
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          }
        }
      },
      "CustomerContract": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "contract_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "contract_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": [
              "string",
              "null"
            ]
          },
          "signed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "withdrawal_deadline_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "public_contract_offer_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "offer_reference": {
            "type": [
              "string",
              "null"
            ]
          },
          "signature_snapshot_sha256": {
            "type": [
              "string",
              "null"
            ]
          },
          "legal_versions_snapshot": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "PublicPricingVisibility": {
        "type": "object",
        "description": "Versionslåst presentation för tenantens publika avtalskort. False påverkar inte offert, checkout, avtal eller fakturering.",
        "properties": {
          "fixed_price": {
            "type": "boolean"
          },
          "spot_markup": {
            "type": "boolean"
          },
          "variable_fee": {
            "type": "boolean"
          },
          "monthly_fee": {
            "type": "boolean"
          },
          "invoice_fee": {
            "type": "boolean"
          },
          "green_energy_fee": {
            "type": "boolean"
          },
          "electricity_certificate": {
            "type": "boolean"
          },
          "start_fee": {
            "type": "boolean"
          },
          "administration_fee": {
            "type": "boolean"
          },
          "break_fee": {
            "type": "boolean"
          },
          "portfolio_management_fee": {
            "type": "boolean"
          },
          "campaign_discount": {
            "type": "boolean"
          },
          "optional_fees": {
            "type": "boolean"
          },
          "production_compensation": {
            "type": "boolean"
          },
          "portfolio_price": {
            "type": "boolean",
            "description": "Controls current/monthly portfolio price rendering on the public contract card."
          }
        },
        "additionalProperties": false
      },
      "PublicPricingComponent": {
        "type": "object",
        "required": [
          "component_code",
          "component_type",
          "name",
          "amount",
          "unit",
          "website_card_visible"
        ],
        "properties": {
          "component_code": {
            "type": "string"
          },
          "component_type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "unit": {
            "type": "string",
            "description": "Canonical unit, including percent, ore_per_kwh, sek_per_kwh, sek_month, sek_invoice or sek_once."
          },
          "calculation_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "website_card_visible": {
            "type": "boolean",
            "description": "True endast när komponenten får renderas på tenantens publika avtalskort."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "calculation_base": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PricingCalculationBase"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": true
      },
      "PricingCalculationBase": {
        "type": "string",
        "enum": [
          "energy_cost_ex_vat",
          "energy_cost_inc_vat",
          "spot_cost",
          "portfolio_cost",
          "total_variable_cost",
          "invoice_subtotal",
          "monthly_fixed_amount"
        ],
        "description": "Obligatorisk för procentkomponenter. Procentvärden representeras alltid som 0–100."
      },
      "PortfolioMonthlyPrice": {
        "type": "object",
        "required": [
          "period_month",
          "price_area_code",
          "amount",
          "unit",
          "vat_included",
          "status"
        ],
        "properties": {
          "id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "price_plan_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "price_plan_version_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "period_month": {
            "type": "string",
            "format": "date",
            "description": "Historisk avräkningsmånad, alltid första kalenderdatum YYYY-MM-01. Fältet beskriver aldrig ett framtida faktiskt pris."
          },
          "price_area_code": {
            "type": "string",
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4"
            ]
          },
          "amount": {
            "type": "number",
            "description": "Öre/kWh exklusive moms. Kan vara noll eller negativt när det publicerade marknadsutfallet kräver det.",
            "minimum": -100000,
            "maximum": 100000
          },
          "unit": {
            "type": "string",
            "const": "ore_per_kwh"
          },
          "vat_included": {
            "type": "boolean",
            "const": false
          },
          "status": {
            "type": "string",
            "enum": [
              "final",
              "locked"
            ]
          },
          "source": {
            "type": [
              "string",
              "null"
            ]
          },
          "version_number": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1
          },
          "published_at": {
            "type": [
              "string",
              "null"
            ],
[...]
