{
  "openapi": "3.1.0",
  "info": {
    "title": "Gridex Customer Portal and Website API",
    "version": "2026-07-23.1",
    "description": "Kanoniskt kontrakt för samtliga /api/v1-routes. API-token bestämmer company_id. Website public-contracts returnerar en produkt per publicerat erbjudande; fastpris per SE1-SE4 ligger i area_pricing under samma offer_reference. Tenantautentiserad energy-area resolution och canonical quote låser vald prisrad före den idempotenta kundansökan. OPS skapar eller återanvänder samma canonical kund, kundnummer, anläggning, avtal och faktureringssnapshot. Interna spot-ID:n och råa marknadskällor exponeras inte, och company_id accepteras aldrig som fri tenantväljare."
  },
  "servers": [
    {
      "url": "https://app.gridex.se"
    }
  ],
  "paths": {
    "/api/v1/customer-portal/sync": {
      "post": {
        "operationId": "postApiV1CustomerPortalSync",
        "summary": "Länka extern portalidentitet till en entydig kund.",
        "security": [
          {
            "bearerAuth": [
              "customer_sync.write"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_sync.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/contracts": {
      "get": {
        "operationId": "getApiV1CustomerContracts",
        "summary": "Hämta kundens avtal.",
        "security": [
          {
            "bearerAuth": [
              "customer_contracts.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_contracts.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerContract"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "Hämtar den lösta kundens tecknade customer_contracts inom API-nyckelns tenant, inklusive immutable offer-/juridik-/signaturreferenser när tillgängliga."
      }
    },
    "/api/v1/customer/documents": {
      "get": {
        "operationId": "getApiV1CustomerDocuments",
        "summary": "Hämta kundens dokument.",
        "security": [
          {
            "bearerAuth": [
              "customer_documents.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_documents.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/events": {
      "get": {
        "operationId": "getApiV1CustomerEvents",
        "summary": "Hämta kundens händelser.",
        "security": [
          {
            "bearerAuth": [
              "customer_events.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_events.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/invoices/{id}": {
      "get": {
        "operationId": "getApiV1CustomerInvoicesId}",
        "summary": "Hämta en tenant- och kundbunden faktura.",
        "security": [
          {
            "bearerAuth": [
              "customer_invoices.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_invoices.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/invoices": {
      "get": {
        "operationId": "getApiV1CustomerInvoices",
        "summary": "Hämta kundens fakturor.",
        "security": [
          {
            "bearerAuth": [
              "customer_invoices.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_invoices.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/legal-acceptances": {
      "get": {
        "operationId": "getApiV1CustomerLegalAcceptances",
        "summary": "Hämta juridiska godkännanden.",
        "security": [
          {
            "bearerAuth": [
              "customer_legal.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_legal.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/me": {
      "get": {
        "operationId": "getApiV1CustomerMe",
        "summary": "Hämta kundprofil.",
        "security": [
          {
            "bearerAuth": [
              "customer_profile.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_profile.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/metering-values": {
      "get": {
        "operationId": "getApiV1CustomerMeteringValues",
        "summary": "Hämta kanoniska mätvärden.",
        "security": [
          {
            "bearerAuth": [
              "customer_metering.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_metering.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/move-out": {
      "post": {
        "operationId": "postApiV1CustomerMoveOut",
        "summary": "Registrera utflyttning med verkligt kalenderdatum.",
        "security": [
          {
            "bearerAuth": [
              "customer_facility_data.write"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_facility_data.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/notifications/read": {
      "post": {
        "operationId": "postApiV1CustomerNotificationsRead",
        "summary": "Markera exakt angivna notiser som lästa.",
        "security": [
          {
            "bearerAuth": [
              "customer_notifications.write"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_notifications.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/notifications": {
      "get": {
        "operationId": "getApiV1CustomerNotifications",
        "summary": "Hämta kundnotiser.",
        "security": [
          {
            "bearerAuth": [
              "customer_notifications.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_notifications.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/portal-bundle": {
      "get": {
        "operationId": "getApiV1CustomerPortalBundle",
        "summary": "Hämta kundportalpaket via headers/query.",
        "security": [
          {
            "bearerAuth": [
              "customer_profile.read",
              "customer_sites.read",
              "customer_contracts.read",
              "customer_invoices.read",
              "customer_metering.read",
              "customer_legal.read",
              "customer_events.read",
              "customer_documents.read",
              "customer_notifications.read",
              "customer_power_of_attorney.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_profile.read",
          "customer_sites.read",
          "customer_contracts.read",
          "customer_invoices.read",
          "customer_metering.read",
          "customer_legal.read",
          "customer_events.read",
          "customer_documents.read",
          "customer_notifications.read",
          "customer_power_of_attorney.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "postApiV1CustomerPortalBundle",
        "summary": "Hämta kundportalpaket via JSON-body.",
        "security": [
          {
            "bearerAuth": [
              "customer_profile.read",
              "customer_sites.read",
              "customer_contracts.read",
              "customer_invoices.read",
              "customer_metering.read",
              "customer_legal.read",
              "customer_events.read",
              "customer_documents.read",
              "customer_notifications.read",
              "customer_power_of_attorney.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_profile.read",
          "customer_sites.read",
          "customer_contracts.read",
          "customer_invoices.read",
          "customer_metering.read",
          "customer_legal.read",
          "customer_events.read",
          "customer_documents.read",
          "customer_notifications.read",
          "customer_power_of_attorney.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/powers-of-attorney": {
      "get": {
        "operationId": "getApiV1CustomerPowersOfAttorney",
        "summary": "Hämta fullmakter.",
        "security": [
          {
            "bearerAuth": [
              "customer_power_of_attorney.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_power_of_attorney.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/profile-update": {
      "post": {
        "operationId": "postApiV1CustomerProfileUpdate",
        "summary": "Uppdatera kontakt- eller anläggningsuppgifter.",
        "security": [
          {
            "bearerAuth": [
              "customer_contact.write",
              "customer_facility_data.write"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_contact.write",
          "customer_facility_data.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/sites": {
      "get": {
        "operationId": "getApiV1CustomerSites",
        "summary": "Hämta anläggningar och mätpunkter.",
        "security": [
          {
            "bearerAuth": [
              "customer_sites.read"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_sites.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/customer/sync": {
      "post": {
        "operationId": "postApiV1CustomerSync",
        "summary": "Synka dokument, fullmakter, juridik och anläggningsdata.",
        "security": [
          {
            "bearerAuth": [
              "customer_sync.write"
            ]
          }
        ],
        "x-required-scopes": [
          "customer_sync.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/ExternalCustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerNumber"
          },
          {
            "$ref": "#/components/parameters/CustomerEmail"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/events": {
      "get": {
        "operationId": "getApiV1Events",
        "summary": "Hämta tenantens domänhändelser.",
        "security": [
          {
            "bearerAuth": [
              "events.read"
            ]
          }
        ],
        "x-required-scopes": [
          "events.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "postApiV1Events",
        "summary": "Skicka kundhändelse från hemsida eller portal.",
        "security": [
          {
            "bearerAuth": [
              "website_events.write"
            ]
          }
        ],
        "x-required-scopes": [
          "website_events.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/website/customer-applications": {
      "post": {
        "operationId": "postApiV1WebsiteCustomerApplications",
        "summary": "Skapa idempotent kundansökan från offer_reference.",
        "security": [
          {
            "bearerAuth": [
              "website_applications.write"
            ]
          }
        ],
        "x-required-scopes": [
          "website_applications.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteCustomerApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ansökan sparad. Avtalsstatus och communication-status är serverns source of truth.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteCustomerApplicationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable",
            "description": "Valideringsfel, t.ex. offer_reference_required, offer_reference_mismatch, offer_legal_version_mismatch eller legal_acceptance_missing."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "Scope: website_applications.write. Idempotency-Key is required. One canonical application binds one tenant customer identity, one site and one selected published offer. quote_reference is recommended and validated/consumed when present; legacy omission remains temporarily backwards compatible. OPS creates or reuses the canonical customer/customer_number, freezes the selected SE-area price, creates the site/contract/billing snapshot, queues customer communication and starts data-request or supplier-switch automation when readiness allows."
      }
    },
    "/api/v1/website/customer-events": {
      "post": {
        "operationId": "postApiV1WebsiteCustomerEvents",
        "summary": "Skicka kundhändelse från hemsida.",
        "security": [
          {
            "bearerAuth": [
              "website_events.write"
            ]
          }
        ],
        "x-required-scopes": [
          "website_events.write"
        ],
        "x-idempotency-required": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/website/legal-bundle": {
      "get": {
        "operationId": "getApiV1WebsiteLegalBundle",
        "summary": "Hämta publicerat juridikpaket.",
        "security": [
          {
            "bearerAuth": [
              "website_legal.read",
              "website_contracts.read"
            ]
          }
        ],
        "x-required-scopes": [
          "website_legal.read",
          "website_contracts.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/website/portfolio-prices": {
      "get": {
        "operationId": "getApiV1WebsitePortfolioPrices",
        "summary": "Hämta publik portföljmetod och sanerad final historik.",
        "description": "Read-only och tenant-scopad från API-token. offer_reference väljer exakt publicerat portfölj-/mixavtal. Svaret innehåller inga marknadsindikationer eller interna databas- och versions-ID:n och får inte användas som tenantens aktuella marknadspriskälla.",
        "security": [
          {
            "bearerAuth": [
              "website_contracts.read"
            ]
          }
        ],
        "x-required-scopes": [
          "website_contracts.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "name": "offer_reference",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "price_area",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SE1",
                "SE2",
                "SE3",
                "SE4"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Publik metod och sanerade historiska finala avräkningar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "offer_reference",
                        "historical_final_prices",
                        "market_price_responsibility",
                        "calculator_market_price_supplied_by_ops",
                        "final_billing_rule"
                      ],
                      "properties": {
                        "offer_reference": {
                          "type": "string"
                        },
                        "method": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": true
                        },
                        "historical_final_prices": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PortfolioHistoricalFinalPrice"
                          }
                        },
                        "market_price_responsibility": {
                          "type": "string",
                          "const": "tenant"
                        },
                        "calculator_market_price_supplied_by_ops": {
                          "type": "boolean",
                          "const": false
                        },
                        "final_billing_rule": {
                          "type": "string",
                          "const": "locked_settlement_only"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Publicerat portfölj-/mixavtal hittades inte."
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/website/public-contracts": {
      "get": {
        "operationId": "getApiV1WebsitePublicContracts",
        "summary": "Lista publicerade avtal med komplett beräkningsunderlag och visningsregler.",
        "security": [
          {
            "bearerAuth": [
              "website_contracts.read"
            ]
          }
        ],
        "x-required-scopes": [
          "website_contracts.read"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business"
              ]
            },
            "description": "Filtrera erbjudanden för kundtyp; both matchar båda."
          },
          {
            "name": "diagnostics",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Bakåtkompatibelt diagnostics-läge. Kräver både website_contracts.read och website_contracts.diagnostics. Nya klienter ska använda /public-contracts/diagnostics.",
            "deprecated": true
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "website"
              ],
              "default": "website"
            },
            "description": "Website-endpointen läser endast website-kanalen. Partner-/serverkanalen api publiceras separat."
          }
        ],
        "responses": {
          "200": {
            "description": "Lyckat svar.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "data",
                    "meta",
                    "request_id"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicContractOffer"
                      }
                    },
                    "contracts": {
                      "type": "array",
                      "deprecated": true,
                      "items": {
                        "$ref": "#/components/schemas/PublicContractOffer"
                      },
                      "description": "Deprecated V1-alias för data."
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PublicContractResponseMeta"
                    },
                    "diagnostics": {
                      "type": "object",
                      "description": "Endast i bakåtkompatibelt diagnostics-läge; kräver separat scope.",
                      "additionalProperties": true
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-07-23.1"
                },
                "description": "Version of the machine-readable public contract representation. Changes invalidate ETag."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "304": {
            "description": "Oförändrad tenant- och kanalbunden publication revision för angiven If-None-Match."
          }
        },
        "description": "Returnerar endast publiceringsklara erbjudanden för API-nyckelns tenant. Ett fastprisavtal returneras en gång med SE1-SE4 i area_pricing. pricing.calculation_components innehåller alla tillämpliga avgifter, även dolda. offer_reference används för canonical quote och customer-applications. Svaret innehåller tenant- och kanalbunden publication_revision samt ETag."
      }
    },
    "/api/v1/website/quote": {
      "post": {
        "tags": [
          "Website pricing"
        ],
        "summary": "Create a tenant-bound canonical quote for one published offer and one SE area",
        "description": "Scope: website_quotes.write. Freezes the exact published product/version, selected SE-area price, fees, VAT, assumptions, consumption and requested start date. One quote is consumed by at most one canonical customer application.",
        "x-required-scopes": [
          "website_quotes.write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Canonical quote created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteQuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Published offer not found for tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Published version conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Area price or quote input cannot be used",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Quote creation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/website/public-contracts/diagnostics": {
      "get": {
        "operationId": "getApiV1WebsitePublicContractsDiagnostics",
        "summary": "Diagnostisera tenantens website-publiceringsgraf.",
        "security": [
          {
            "bearerAuth": [
              "website_contracts.diagnostics"
            ]
          }
        ],
        "x-required-scopes": [
          "website_contracts.diagnostics"
        ],
        "x-idempotency-required": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          },
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business"
              ]
            }
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "website"
              ],
              "default": "website"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant-skopad diagnostik med stabil data-typ.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicContractDiagnosticsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "description": "Separat diagnostikscope. data är alltid en array och diagnostics ändrar inte typen på normalfeedens data."
      }
    },
    "/api/v1/website/quote/validate": {
      "post": {
        "tags": [
          "Website pricing"
        ],
        "summary": "Validate a canonical quote before customer application",
        "description": "Scope: website_quotes.validate. Verifies tenant, offer, customer type, SE area, grid area, postal code, annual consumption and requested start date. A quote already consumed by another application is rejected.",
        "x-required-scopes": [
          "website_quotes.validate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteQuoteValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "request_id"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "valid",
                        "quote_reference",
                        "offer_reference"
                      ],
                      "properties": {
                        "valid": {
                          "const": true
                        },
                        "quote_reference": {
                          "type": "string"
                        },
                        "offer_reference": {
                          "type": "string"
                        },
                        "valid_until": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "status": {
                          "type": "string"
                        },
                        "selected_area_price": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/FixedAreaPrice"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "additionalProperties": true
                    },
                    "request_id": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Quote or offer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Quote already consumed or binding mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Quote expired or no longer valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/website/energy-area/resolve": {
      "post": {
        "tags": [
          "Website energy area"
        ],
        "summary": "Resolve canonical SE area, grid area and grid owner before quote and application",
        "description": "Scope: website_energy_area.resolve. Uses the tenant-scoped OPS resolver. The unauthenticated legacy GET /api/public/energy-area remains removed.",
        "x-required-scopes": [
          "website_energy_area.resolve"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteEnergyAreaResolveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolution completed or requires a next action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteEnergyAreaResolveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Resolution failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteEnergyAreaResolveResponse"
                }
              }
            }
          },
          "500": {
            "description": "Resolver failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Gridex API token"
      }
    },
    "parameters": {
      "RequestId": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 200
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 8,
          "maxLength": 200,
          "pattern": "^[A-Za-z0-9._:+~-]+$"
        }
      },
      "ExternalCustomerId": {
        "name": "x-gridex-external-customer-id",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 200
        }
      },
      "CustomerNumber": {
        "name": "x-gridex-customer-number",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 100
        }
      },
      "CustomerEmail": {
        "name": "x-gridex-customer-email",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "format": "email"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Ogiltig JSON eller validering.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error",
                "code",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "field": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "hint": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Token saknas eller är ogiltig.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error",
                "code",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "field": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "hint": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Scope, IP eller origin tillåts inte.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error",
                "code",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "field": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "hint": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "Tvetydig matchning eller idempotenskonflikt.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error",
                "code",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "field": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "hint": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Unprocessable": {
        "description": "Affärsvalidering misslyckades.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error",
                "code",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "field": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "hint": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "API-klientens trafikgräns har överskridits.",
        "headers": {
          "Retry-After": {
            "description": "Sekunder till nästa tillåtna försök.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          "X-RateLimit-Limit": {
            "description": "Tillåtet antal anrop i aktuellt fönster.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Återstående anrop i aktuellt fönster.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          "X-RateLimit-Reset": {
            "description": "ISO 8601-tid när fönstret återställs.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "example": {
              "error": {
                "code": "rate_limited",
                "message": "API-klientens trafikgräns har överskridits. Försök igen när rate-limit-fönstret har återställts."
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "Internt fel utan databasdetaljer.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error",
                "code",
                "message"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stage": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "field": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "hint": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "request_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Tjänsten eller ett obligatoriskt skydd är tillfälligt otillgängligt.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "error"
              ],
              "properties": {
                "error": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "examples": {
              "rateLimiterUnavailable": {
                "value": {
                  "error": {
                    "code": "api_rate_limiter_unavailable",
                    "message": "API:ts trafikskydd kunde inte verifieras. Försök igen senare."
                  }
                }
              },
              "invalidRateLimit": {
                "value": {
                  "error": {
                    "code": "api_rate_limit_invalid",
                    "message": "API-klientens trafikgräns är felkonfigurerad."
                  }
                }
              }
            }
          }
        }
      },
      "Gone": {
        "description": "Endpoint removed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "PortfolioSettlementPermission": {
        "type": "string",
        "description": "OPS-behörigheter är default-deny och får endast delegeras av platform_superadmin med tenant-, portfölj- och tids-scope. manage_access kan aldrig delegeras.",
        "enum": [
          "portfolio_settlement.read",
          "portfolio_settlement.create",
          "portfolio_settlement.import",
          "portfolio_settlement.calculate",
          "portfolio_settlement.review",
          "portfolio_settlement.approve",
          "portfolio_settlement.lock",
          "portfolio_settlement.correct",
          "portfolio_settlement.manage_access"
        ]
      },
      "PortfolioHistoricalFinalPrice": {
        "type": "object",
        "required": [
          "period_month",
          "price_area_code",
          "amount",
          "unit",
          "vat_included",
          "status"
        ],
        "properties": {
          "period_month": {
            "type": "string",
            "format": "date",
            "description": "Historisk leveransmånad."
          },
          "price_area_code": {
            "type": "string",
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4"
            ]
          },
          "amount": {
            "type": "number",
            "description": "Historiskt slutpris i öre/kWh exklusive moms."
          },
          "unit": {
            "type": "string",
            "const": "ore_per_kwh"
          },
          "vat_included": {
            "type": "boolean",
            "const": false
          },
          "status": {
            "type": "string",
            "enum": [
              "final",
              "locked"
            ]
          }
        },
        "additionalProperties": false
      },
      "ApiError": {
        "type": "object",
        "required": [
          "error",
          "code",
          "message"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "stage": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "field": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "hint": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        }
      },
      "PublicContractOffer": {
        "type": "object",
        "required": [
          "id",
          "offer_reference",
          "code",
          "name",
          "type",
          "customer_type",
          "pricing",
          "legal"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Samma opaka värde som offer_reference; inget internt UUID."
          },
          "offer_reference": {
            "type": "string",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{5,127}$",
            "description": "Enda kanoniska väljaren. Nya referenser använder offer_<sha256>; historiska opaka referenser förblir giltiga och skrivs aldrig om."
          },
          "contract_offer_id": {
            "type": [
              "string",
              "null"
            ],
            "deprecated": true,
            "description": "Kompatibilitetsalias för offer_reference; inte ett internt offer-ID."
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "customer_type": {
            "type": "string",
            "enum": [
              "private",
              "business",
              "both"
            ]
          },
          "pricing": {
            "type": "object",
            "required": [
              "visibility",
              "calculation_components",
              "display_components",
              "calculation_contract",
              "summary_components"
            ],
            "properties": {
              "monthly_fee": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContractPriceValue"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Komplett beräkningsvärde. Fastpris returneras alltid för fastprisavtal; avgifter filtreras inte bort av presentationsregler."
              },
              "invoice_fee": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContractPriceValue"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Komplett beräkningsvärde. Fastpris returneras alltid för fastprisavtal; avgifter filtreras inte bort av presentationsregler."
              },
              "markup": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContractPriceValue"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Komplett beräkningsvärde. Fastpris returneras alltid för fastprisavtal; avgifter filtreras inte bort av presentationsregler."
              },
              "spot_markup": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContractPriceValue"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Komplett beräkningsvärde. Fastpris returneras alltid för fastprisavtal; avgifter filtreras inte bort av presentationsregler."
              },
              "variable_fee": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContractPriceValue"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Komplett beräkningsvärde. Fastpris returneras alltid för fastprisavtal; avgifter filtreras inte bort av presentationsregler."
              },
              "fixed_price": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContractPriceValue"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Compatibility value only when all SE-area prices are equal; otherwise null."
              },
              "green_fee": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContractPriceValue"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Komplett beräkningsvärde. Fastpris returneras alltid för fastprisavtal; avgifter filtreras inte bort av presentationsregler."
              },
              "electricity_certificate": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContractPriceValue"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Komplett beräkningsvärde. Fastpris returneras alltid för fastprisavtal; avgifter filtreras inte bort av presentationsregler."
              },
              "start_fee": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContractPriceValue"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Komplett beräkningsvärde. Fastpris returneras alltid för fastprisavtal; avgifter filtreras inte bort av presentationsregler."
              },
              "administration_fee": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContractPriceValue"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Komplett beräkningsvärde. Fastpris returneras alltid för fastprisavtal; avgifter filtreras inte bort av presentationsregler."
              },
              "break_fee": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContractPriceValue"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Komplett beräkningsvärde. Fastpris returneras alltid för fastprisavtal; avgifter filtreras inte bort av presentationsregler."
              },
              "portfolio_management_fee": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContractPriceValue"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Komplett beräkningsvärde. Fastpris returneras alltid för fastprisavtal; avgifter filtreras inte bort av presentationsregler."
              },
              "discount": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true
              },
              "visibility": {
                "$ref": "#/components/schemas/PublicPricingVisibility"
              },
              "components": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PublicPricingComponent"
                },
                "description": "Kompatibilitetsalias för calculation_components. Innehåller även dolda komponenter."
              },
              "public_price_text": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Genererad marknadstext som endast innehåller website-card-visible prisdelar."
              },
              "portfolio_price": {
                "$ref": "#/components/schemas/PortfolioPriceDisplay"
              },
              "portfolio_monthly_prices": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PortfolioMonthlyPrice"
                },
                "description": "Exact tenant- and price-plan-version-scoped published monthly portfolio prices. Presentation styrs separat och filtrerar inte beräkningsdata."
              },
              "market_price_responsibility": {
                "type": "string",
                "enum": [
                  "tenant",
                  "not_applicable"
                ],
                "description": "tenant för rörliga månads-, tim- och kvartsavtal; OPS externa API levererar inget marknadspris."
              },
              "calculation_contract": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "includes_all_applicable_components",
                  "hidden_components_must_be_calculated",
                  "market_price_supplied_by_ops"
                ],
                "properties": {
                  "includes_all_applicable_components": {
                    "const": true
                  },
                  "hidden_components_must_be_calculated": {
                    "const": true
                  },
                  "market_price_supplied_by_ops": {
                    "const": false
                  }
                }
              },
              "calculation_components": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PublicPricingComponent"
                },
                "description": "Samtliga komponenter tenantens kalkylmotor ska utvärdera enligt calculation_inclusion."
              },
              "display_components": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PublicPricingComponent"
                },
                "description": "Endast komponenter som får visas separat enligt website_visibility."
              },
              "summary_components": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PublicPricingComponent"
                },
                "description": "Komponenter som får ingå som separata rader i en fullständig prissammanställning. Dolda komponenter finns fortfarande i calculation_components och totalsumman."
              },
              "area_pricing": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FixedAreaPrice"
                },
                "description": "Canonical area-price matrix for the same offer."
              }
            },
            "additionalProperties": true
          },
          "legal": {
            "type": "object",
            "additionalProperties": true,
            "description": "Exakta OPS-publicerade versioner för erbjudandet."
          },
          "valid_from": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "valid_to": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "website_cta_enabled": {
            "type": "boolean"
          },
          "customer_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "private",
                "business"
              ]
            },
            "minItems": 1,
            "uniqueItems": true,
            "description": "Entydig expansion av customer_type. both blir [private,business]."
          },
          "portfolio_price_ore_per_kwh": {
            "type": [
              "number",
              "null"
            ],
            "description": "Legacy scalar only when all visible area prices share one amount; otherwise null. Use pricing.portfolio_monthly_prices."
          },
          "portfolio_management_fee": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true,
            "description": "Canonical generic fee object. Prefer pricing.portfolio_management_fee."
          },
          "publication_reference": {
            "type": [
              "string",
              "null"
            ],
            "deprecated": true,
            "description": "Deprecated V1-alias för offer_reference."
          },
          "area_pricing": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FixedAreaPrice"
            },
            "description": "SE1-SE4 prices belonging to this one canonical product/version. They are not separate offers."
          }
        },
        "additionalProperties": true
      },
      "PublicContractDiagnostics": {
        "type": "object",
        "required": [
          "total",
          "visible",
          "hidden",
          "offers"
        ],
        "properties": {
          "total": {
            "type": "integer"
          },
          "visible": {
            "type": "integer"
          },
          "hidden": {
            "type": "integer"
          },
          "offers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "name",
                "visible",
                "blockers",
                "pricing_readiness"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "visible": {
                  "type": "boolean"
                },
                "blockers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "offer_reference": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "pricing_readiness": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "invoice_fee"
                  ],
                  "properties": {
                    "invoice_fee": {
                      "oneOf": [
                        {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "status",
                            "amount",
                            "unit",
                            "calculation_type",
                            "website_card_visible",
                            "source"
                          ],
                          "properties": {
                            "status": {
                              "const": "ready"
                            },
                            "amount": {
                              "type": "number",
                              "minimum": 0
                            },
                            "unit": {
                              "const": "sek_invoice"
                            },
                            "calculation_type": {
                              "const": "per_invoice"
                            },
                            "website_card_visible": {
                              "type": "boolean"
                            },
                            "source": {
                              "const": "price_plan_version"
                            }
                          }
                        },
[...]
