{
  "openapi": "3.1.0",
  "info": {
    "title": "Gridex Website and Partner Integration API",
    "version": "2026-07-22.1",
    "description": "Canonical V1 contract publication, quote and website application API. The API key is the authoritative tenant identity. External clients must never send an internal company_id as a tenant selector."
  },
  "servers": [
    {
      "url": "https://app.gridex.se"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Integration context"
    },
    {
      "name": "Website contracts"
    },
    {
      "name": "API contracts"
    },
    {
      "name": "Quotes"
    },
    {
      "name": "Customer applications"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Energy area"
    },
    {
      "name": "Switch status"
    }
  ],
  "paths": {
    "/api/v1/integration/context": {
      "get": {
        "tags": [
          "Integration context"
        ],
        "summary": "Verify the API key tenant context",
        "description": "Scope: integration_context.read. The API key is authoritative; company_id is never accepted as a tenant selector.",
        "responses": {
          "200": {
            "description": "Tenant context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/IntegrationContext"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/IntegrationContext"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/website/public-contracts": {
      "get": {
        "tags": [
          "Website contracts"
        ],
        "summary": "List website-published contracts",
        "description": "Scope: website_contracts.read. Supports ETag/If-None-Match and returns 304. diagnostics=1 is deprecated; use the diagnostics endpoint. Sunset: 2026-10-31.",
        "parameters": [
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business",
                "company"
              ]
            },
            "description": "private or business. company is deprecated and normalized to business."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "diagnostics",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Website contract feed",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicContract"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta"
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Publication revision has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/website/public-contracts/diagnostics": {
      "get": {
        "tags": [
          "Website contracts"
        ],
        "summary": "Diagnose canonical website publication readiness",
        "description": "Scope: website_contracts.diagnostics. Uses the same canonical publication graph and readiness sources as the normal feed. The normal data field remains an array.",
        "parameters": [
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business",
                "company"
              ]
            },
            "description": "private or business. company is deprecated and normalized to business."
          }
        ],
        "responses": {
          "200": {
            "description": "Diagnostics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicContract"
                      }
                    },
                    "diagnostics": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/contracts": {
      "get": {
        "tags": [
          "API contracts"
        ],
        "summary": "List contracts published to the api channel",
        "description": "Scope: api_contracts.read. This endpoint is independent of the website channel and has its own tenant+channel publication revision.",
        "parameters": [
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business",
                "company"
              ]
            },
            "description": "private or business. company is deprecated and normalized to business."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API channel feed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicContract"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta"
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "API publication revision has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/website/quote": {
      "post": {
        "tags": [
          "Quotes"
        ],
        "summary": "Create a canonical non-binding quote",
        "description": "Scope: website_quotes.write. OPS chooses tenant-configured market sources, freshness and fallback policies and persists the exact version-bound calculation snapshot.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Persisted quote",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Quote"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "description": "Pricing or market data unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/website/quote/validate": {
      "post": {
        "tags": [
          "Quotes"
        ],
        "summary": "Validate a quote before application submission",
        "description": "Scope: website_quotes.validate. Error codes include quote_not_found, quote_expired, quote_revoked, quote_already_consumed and quote_mismatch.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "quote_not_found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/api/v1/website/customer-applications": {
      "post": {
        "tags": [
          "Customer applications"
        ],
        "summary": "Create a customer application bound to a published offer and quote",
        "description": "Scope: website_applications.write. Idempotency-Key is required. annual_consumption_kwh, price/grid area, postal code, start date and metering data are persisted in canonical site/contract data. A supplied quote_reference is validated and its full snapshot is locked into the contract price snapshot.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "description": "Application validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/contracts.publication.changed": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "contracts.publication.changed receiver contract",
        "description": "Gridex sends signed HMAC-SHA256 requests. Verify x-gridex-timestamp and x-gridex-signature over `${timestamp}.${rawBody}`, reject stale timestamps, and deduplicate by x-gridex-event-id / x-gridex-delivery-id. Return any 2xx on success. Failed attempts use the configured retry/dead-letter pipeline.",
        "parameters": [
          {
            "name": "x-gridex-event-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gridex-delivery-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gridex-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gridex-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^sha256="
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicationChangedWebhook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted and durably deduplicated"
          }
        }
      }
    },
    "/api/v1/website/energy-area/resolve": {
      "post": {
        "tags": [
          "Energy area"
        ],
        "summary": "Resolve canonical energy area context",
        "description": "Scope: website_energy_area.resolve. Uses the same tenant-scoped resolver used by customer applications. Provider secrets are never returned.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnergyAreaResolveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Canonical resolution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EnergyAreaResolution"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "description": "Resolver unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/website/switch-status": {
      "get": {
        "tags": [
          "Switch status"
        ],
        "summary": "Read supplier-switch status for an application",
        "description": "Scope: website_switch_status.read. application_number is resolved strictly inside the API key tenant. Internal company, application and switch UUIDs are not exposed.",
        "parameters": [
          {
            "in": "query",
            "name": "application_number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current application and supplier-switch status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SwitchStatus"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Application not found in tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Status unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Gridex API token"
      }
    },
    "schemas": {
      "ErrorEnvelope": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "field": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "request_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "details": {
                "type": [
                  "object",
                  "array",
                  "null"
                ]
              }
            }
          }
        }
      },
      "TenantMeta": {
        "type": "object",
        "required": [
          "tenant_reference",
          "api_version",
          "channel"
        ],
        "properties": {
          "tenant_reference": {
            "type": "string",
            "pattern": "^tenant_[0-9a-f]{36}$",
            "description": "Stable opaque tenant identity. It is not the internal company UUID."
          },
          "api_version": {
            "const": "v1"
          },
          "channel": {
            "enum": [
              "website",
              "api"
            ]
          },
          "publication_revision": {
            "type": "integer",
            "minimum": 0
          },
          "publication_updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "IntegrationContext": {
        "type": "object",
        "required": [
          "tenant_reference",
          "api_client_reference",
          "api_version",
          "authoritative_identity"
        ],
        "properties": {
          "tenant_reference": {
            "type": "string"
          },
          "api_client_reference": {
            "type": "string"
          },
          "api_version": {
            "const": "v1"
          },
          "authoritative_identity": {
            "const": "api_key"
          }
        }
      },
      "CustomerType": {
        "type": "string",
        "enum": [
          "private",
          "business"
        ],
        "description": "Canonical values. company is temporarily accepted as a deprecated alias for business until 2026-10-31."
      },
      "PublicContract": {
        "type": "object",
        "required": [
          "offer_reference"
        ],
        "properties": {
          "offer_reference": {
            "type": "string"
          },
          "customer_type": {
            "enum": [
              "private",
              "business",
              "both"
            ]
          },
          "contract_product_version_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "contract_publication_version_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "price_plan_version_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "legal_bundle_version_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "pricing": {
            "type": "object",
            "additionalProperties": true
          },
          "legal": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "QuoteRequest": {
        "type": "object",
        "required": [
          "offer_reference",
          "price_area",
          "annual_consumption_kwh",
          "customer_type"
        ],
        "properties": {
          "offer_reference": {
            "type": "string"
          },
          "price_area": {
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4"
            ]
          },
          "grid_area_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "annual_consumption_kwh": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "customer_type": {
            "$ref": "#/components/schemas/CustomerType"
          }
        },
        "additionalProperties": false
      },
      "Quote": {
        "type": "object",
        "required": [
          "offer_reference",
          "quote_reference",
          "pricing_interval",
          "estimate_method",
          "source_period",
          "is_binding",
          "assumptions",
          "market_sources",
          "pricing_snapshot_schema_version",
          "valid_until",
          "source_window"
        ],
        "properties": {
          "offer_reference": {
            "type": "string"
          },
          "quote_reference": {
            "type": "string",
            "pattern": "^quote_"
          },
          "pricing_interval": {
            "enum": [
              "monthly",
              "hourly",
              "quarterly",
              "fixed",
              "portfolio",
              "mixed"
            ]
          },
          "estimate_method": {
            "type": "string"
          },
          "source_period": {
            "type": "string",
            "pattern": "^[0-9]{4}-[0-9]{2}$",
            "description": "Canonical market/billing month used by the indicative calculation."
          },
          "market_data_timestamp": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "is_binding": {
            "const": false
          },
          "assumptions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "market_sources": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "pricing_snapshot_schema_version": {
            "type": "string"
          },
          "valid_until": {
            "type": "string",
            "format": "date-time"
          },
          "offer": {
            "type": "object",
            "additionalProperties": true
          },
          "input": {
            "type": "object",
            "additionalProperties": true
          },
          "estimate": {
            "type": "object",
            "additionalProperties": true
          },
          "lines": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source_window": {
            "type": "object",
            "required": [
              "start",
              "end"
            ],
            "properties": {
              "start": {
                "type": "string",
                "format": "date"
              },
              "end": {
                "type": "string",
                "format": "date"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": true
      },
      "QuoteValidationRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/QuoteRequest"
          },
          {
            "type": "object",
            "required": [
              "quote_reference"
            ],
            "properties": {
              "quote_reference": {
                "type": "string"
              }
            }
          }
        ]
      },
      "LegalAcceptances": {
        "type": "object",
        "properties": {
          "terms": {
            "type": "boolean"
          },
          "privacy_policy": {
            "type": "boolean"
          },
          "withdrawal": {
            "type": "boolean"
          },
          "power_of_attorney": {
            "type": "boolean"
          },
          "price_terms": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "CustomerApplicationRequest": {
        "type": "object",
        "required": [
          "external_customer_id",
          "offer_reference",
          "customer",
          "site",
          "annual_consumption_kwh",
          "legal_acceptances"
        ],
        "properties": {
          "external_customer_id": {
            "type": "string"
          },
          "offer_reference": {
            "type": "string"
          },
          "quote_reference": {
            "type": [
              "string",
              "null"
            ],
            "description": "Required for quote-bound signup flows. When supplied, OPS verifies tenant, offer, versions and all calculation inputs."
          },
          "annual_consumption_kwh": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "price_area": {
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4"
            ]
          },
          "grid_area": {
            "type": [
              "string",
              "null"
            ]
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "customer": {
            "type": "object",
            "required": [
              "customer_type",
              "email"
            ],
            "properties": {
              "customer_type": {
                "$ref": "#/components/schemas/CustomerType"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "company_name": {
                "type": "string"
              },
              "personal_number": {
                "type": "string"
              },
              "org_number": {
                "type": "string"
              }
            },
            "additionalProperties": true
          },
          "site": {
            "type": "object",
            "properties": {
              "postal_code": {
                "type": "string"
              },
              "price_area_code": {
                "enum": [
                  "SE1",
                  "SE2",
                  "SE3",
                  "SE4"
                ]
              },
              "grid_area_code": {
                "type": "string"
              },
              "annual_consumption_kwh": {
                "type": "number"
              },
              "move_in_date": {
                "type": "string",
                "format": "date"
              }
            },
            "additionalProperties": true
          },
          "metering_point": {
            "type": "object",
            "additionalProperties": true
          },
          "legal_acceptances": {
            "$ref": "#/components/schemas/LegalAcceptances"
          },
          "consents": {
            "$ref": "#/components/schemas/LegalAcceptances"
          },
          "powerOfAttorney": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "DiagnosticReadiness": {
        "type": "object",
        "required": [
          "canonical_graph_consistent",
          "forward_publication_link_valid",
          "reverse_legacy_link_valid",
          "company_chain_valid",
          "tenant_assignment_valid",
          "channel_valid",
          "source_offer_consistent",
          "pricing_ready",
          "legal_ready",
          "invoice_fee_ready",
          "publication_active",
          "application_acceptance_ready"
        ],
        "properties": {
          "canonical_graph_consistent": {
            "type": "boolean"
          },
          "forward_publication_link_valid": {
            "type": "boolean"
          },
          "reverse_legacy_link_valid": {
            "type": "boolean"
          },
          "company_chain_valid": {
            "type": "boolean"
          },
          "tenant_assignment_valid": {
            "type": "boolean"
          },
          "channel_valid": {
            "type": "boolean"
          },
          "source_offer_consistent": {
            "type": "boolean"
          },
          "pricing_ready": {
            "type": "boolean"
          },
          "legal_ready": {
            "type": "boolean"
          },
          "invoice_fee_ready": {
            "type": "boolean"
          },
          "publication_active": {
            "type": "boolean"
          },
          "application_acceptance_ready": {
            "type": "boolean"
          }
        }
      },
      "PublicationChangedWebhook": {
        "type": "object",
        "required": [
          "id",
          "type",
          "created_at",
          "tenant_reference",
          "aggregate",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "const": "contracts.publication.changed"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "tenant_reference": {
            "type": "string"
          },
          "aggregate": {
            "type": "object",
            "required": [
              "type",
              "id"
            ],
            "properties": {
              "type": {
                "const": "contract_publication"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "data": {
            "type": "object",
            "required": [
              "tenant_reference",
              "channel",
              "publication_revision",
              "revision_token",
              "reason",
              "timestamp"
            ],
            "properties": {
              "tenant_reference": {
                "type": "string"
              },
              "channel": {
                "enum": [
                  "website",
                  "api",
                  "internal",
                  "phone",
                  "partner"
                ]
              },
              "publication_revision": {
                "type": "integer"
              },
              "revision_token": {
                "type": "string",
                "format": "uuid"
              },
              "reason": {
                "type": "string"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "EnergyAreaResolveRequest": {
        "type": "object",
        "properties": {
          "grid_area_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "street": {
            "type": [
              "string",
              "null"
            ]
          },
          "street_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "city": {
            "type": [
              "string",
              "null"
            ]
          },
          "country": {
            "type": [
              "string",
              "null"
            ],
            "default": "SE"
          },
          "facility_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "metering_point_id": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": false,
        "description": "Send grid_area_code, postal_code, or a full street/city address. OPS remains the canonical resolver."
      },
      "EnergyAreaResolution": {
        "type": "object",
        "required": [
          "grid_area_code",
          "grid_area_name",
          "grid_owner_name",
          "price_area",
          "resolution_status",
          "confidence",
          "source_chain",
          "automation_allowed",
          "next_required_action",
          "warnings",
          "diagnostics"
        ],
        "properties": {
          "grid_area_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "grid_area_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "grid_owner_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "price_area": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4",
              null
            ]
          },
          "resolution_status": {
            "type": "string"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "source_chain": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "automation_allowed": {
            "type": "boolean"
          },
          "next_required_action": {
            "type": "string"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "diagnostics": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "SwitchStatus": {
        "type": "object",
        "required": [
          "application_number",
          "application_status",
          "switch",
          "next_step",
          "blocking_reasons",
          "requested_start_date",
          "confirmed_start_date",
          "actual_start_date"
        ],
        "properties": {
          "application_number": {
            "type": "string"
          },
          "application_status": {
            "type": "string"
          },
          "switch": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "required": [
                  "switch_reference",
                  "status",
                  "lifecycle_blocked",
                  "events"
                ],
                "properties": {
                  "switch_reference": {
                    "type": "string",
                    "pattern": "^switch_"
                  },
                  "status": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "requested_start_date": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date"
                  },
                  "submitted_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "completed_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "failed_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "failure_reason": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "paused_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "pause_reason": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "lifecycle_blocked": {
                    "type": "boolean"
                  },
                  "lifecycle_block_source": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "updated_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "event_type",
                        "event_status",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "event_type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "event_status": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "message": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "created_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        }
                      },
                      "additionalProperties": false
                    }
                  }
                },
                "additionalProperties": false
              }
            ]
          },
          "next_step": {
            "type": [
              "string",
              "null"
            ]
          },
          "blocking_reasons": {
            "type": "array",
            "items": {}
          },
          "requested_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "confirmed_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "actual_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          }
        },
        "additionalProperties": false
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid query or payload",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Scope missing or tenant access denied",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Conflict": {
        "description": "Expired, consumed or mismatched quote/idempotency state",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      }
    }
  }
}
