{
  "openapi": "3.1.0",
  "info": {
    "title": "Gridex Website and Partner Integration API",
    "version": "2026-07-24.1",
    "description": "Canonical V1 contract publication, tenant-bound energy-area resolution, OPS-owned quote and website application API. OPS supplies complete versioned contract prices, fees, VAT, presentation rules and normalized indicative market-reference metadata. Tenant backends display the OPS quote but cannot override price area, product version or pricing components. Preview is never final settlement evidence."
  },
  "servers": [
    {
      "url": "https://app.gridex.se"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Integration context"
    },
    {
      "name": "Website contracts"
    },
    {
      "name": "API contracts"
    },
    {
      "name": "Quotes"
    },
    {
      "name": "Customer applications"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Energy area"
    },
    {
      "name": "Switch status"
    }
  ],
  "paths": {
    "/api/v1/integration/context": {
      "get": {
        "tags": [
          "Integration context"
        ],
        "summary": "Verify the API key tenant context",
        "description": "Scope: integration_context.read. The API key is authoritative; company_id is never accepted as a tenant selector.",
        "responses": {
          "200": {
            "description": "Tenant context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/IntegrationContext"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/IntegrationContext"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/website/public-contracts": {
      "get": {
        "tags": [
          "Website contracts"
        ],
        "summary": "List website-published contracts",
        "description": "Scope: website_contracts.read. Supports ETag/If-None-Match and returns 304. diagnostics=1 is deprecated; use the diagnostics endpoint. Sunset: 2026-10-31.",
        "parameters": [
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business",
                "company"
              ]
            },
            "description": "private or business. company is deprecated and normalized to business."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "diagnostics",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Website contract feed",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-07-24.1"
                },
                "description": "Version of the machine-readable public contract representation. Changes invalidate ETag."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicContract"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta",
                      "properties": {
                        "contract_schema_version": {
                          "const": "2026-07-24.1"
                        }
                      },
                      "required": [
                        "contract_schema_version"
                      ]
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Publication revision has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/website/public-contracts/diagnostics": {
      "get": {
        "tags": [
          "Website contracts"
        ],
        "summary": "Diagnose canonical website publication readiness",
        "description": "Scope: website_contracts.diagnostics. Uses the same canonical publication graph and readiness sources as the normal feed. The normal data field remains an array.",
        "parameters": [
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business",
                "company"
              ]
            },
            "description": "private or business. company is deprecated and normalized to business."
          }
        ],
        "responses": {
          "200": {
            "description": "Diagnostics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicContract"
                      }
                    },
                    "diagnostics": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/contracts": {
      "get": {
        "tags": [
          "API contracts"
        ],
        "summary": "List contracts published to the api channel",
        "description": "Scope: api_contracts.read. This endpoint is independent of the website channel and has its own tenant+channel publication revision.",
        "parameters": [
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business",
                "company"
              ]
            },
            "description": "private or business. company is deprecated and normalized to business."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API channel feed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicContract"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta"
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "API publication revision has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/website/quote": {
      "post": {
        "tags": [
          "Website pricing"
        ],
        "summary": "Create a tenant-bound canonical quote for one published offer and one SE area",
        "description": "Scope: website_quotes.write. Freezes the exact published product/version, selected SE-area price, fees, VAT, assumptions, consumption and requested start date. One quote is consumed by at most one canonical customer application.",
        "x-required-scopes": [
          "website_quotes.write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Canonical quote created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteQuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Published offer not found for tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Published version conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Area price or quote input cannot be used",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Quote creation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/website/quote/validate": {
      "post": {
        "tags": [
          "Website pricing"
        ],
        "summary": "Validate a canonical quote before customer application",
        "description": "Scope: website_quotes.validate. Verifies tenant, offer, customer type, SE area, grid area, postal code, annual consumption and requested start date. A quote already consumed by another application is rejected.",
        "x-required-scopes": [
          "website_quotes.validate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteQuoteValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "request_id"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "valid",
                        "quote_reference",
                        "offer_reference"
                      ],
                      "properties": {
                        "valid": {
                          "const": true
                        },
                        "quote_reference": {
                          "type": "string"
                        },
                        "offer_reference": {
                          "type": "string"
                        },
                        "valid_until": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "status": {
                          "type": "string"
                        },
                        "selected_area_price": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/FixedAreaPrice"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "additionalProperties": true
                    },
                    "request_id": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Quote or offer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Quote already consumed or binding mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Quote expired or no longer valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/website/customer-applications": {
      "post": {
        "tags": [
          "Customer applications"
        ],
        "summary": "Create a customer application bound to a published offer",
        "description": "Scope: website_applications.write. Idempotency-Key krävs. OPS committar canonical kund, site, avtal, juridik, workflow och ett persistent customer_application_continuation-jobb atomiskt. Svaret är accepted/automatic_processing; därefter äger OPS juridiska mail, nätägarbegäran, Z01/Z02, Z03/Z04, APERAK, aktivering och webhooks.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application atomically accepted and durable automatic processing queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "description": "Application validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "website_applications.write"
        ],
        "x-automatic-domain-events": [
          "customer_application.accepted",
          "customer_application.needs_information",
          "customer_application.failed",
          "facility_information.requested",
          "facility_information.received",
          "supplier_switch.requested",
          "supplier_switch.dispatched",
          "supplier_switch.confirmed",
          "supplier_switch.rejected",
          "supply_period.activated",
          "contract.activated"
        ]
      }
    },
    "/webhooks/contracts.publication.changed": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "contracts.publication.changed receiver contract",
        "description": "Gridex sends signed HMAC-SHA256 requests. Verify x-gridex-timestamp and x-gridex-signature over `${timestamp}.${rawBody}`, reject stale timestamps, and deduplicate by x-gridex-event-id / x-gridex-delivery-id. Return any 2xx on success. Failed attempts use the configured retry/dead-letter pipeline.",
        "parameters": [
          {
            "name": "x-gridex-event-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gridex-delivery-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gridex-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gridex-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^sha256="
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicationChangedWebhook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted and durably deduplicated"
          }
        }
      }
    },
    "/api/v1/website/energy-area/resolve": {
      "post": {
        "tags": [
          "Website energy area"
        ],
        "summary": "Resolve canonical SE area, grid area and grid owner before quote and application",
        "description": "Scope: website_energy_area.resolve. Uses the tenant-scoped OPS resolver. The unauthenticated legacy GET /api/public/energy-area remains removed.",
        "x-required-scopes": [
          "website_energy_area.resolve"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteEnergyAreaResolveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolution completed or requires a next action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteEnergyAreaResolveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Resolution failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteEnergyAreaResolveResponse"
                }
              }
            }
          },
          "500": {
            "description": "Resolver failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/website/switch-status": {
      "get": {
        "tags": [
          "Switch status"
        ],
        "summary": "Read supplier-switch status for an application",
        "description": "Scope: website_switch_status.read. application_number is resolved strictly inside the API key tenant. Internal company, application and switch UUIDs are not exposed.",
        "parameters": [
          {
            "in": "query",
            "name": "application_number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current application and supplier-switch status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SwitchStatus"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Application not found in tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Status unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/openapi/website-integration-v1.json": {
      "get": {
        "summary": "Hämta Website Integration OpenAPI",
        "description": "Publik dokumentationsendpoint. Ingen API-nyckel krävs och endpointen används endast för utveckling, typgenerering och kontraktskontroll — aldrig som runtime-konfiguration.",
        "security": [],
        "responses": {
          "200": {
            "description": "Versionerad OpenAPI JSON",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Gridex-Contract-Version": {
                "schema": {
                  "const": "2026-07-24.1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "304": {
            "description": "Oförändrad ETag"
          }
        }
      }
    },
    "/api/v1/openapi/customer-portal-v1.json": {
      "get": {
        "summary": "Hämta Customer Portal OpenAPI",
        "description": "Publik dokumentationsendpoint. Ingen API-nyckel krävs och endpointen används endast för utveckling, typgenerering och kontraktskontroll — aldrig som runtime-konfiguration.",
        "security": [],
        "responses": {
          "200": {
            "description": "Versionerad OpenAPI JSON",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Gridex-Contract-Version": {
                "schema": {
                  "const": "2026-07-24.1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "304": {
            "description": "Oförändrad ETag"
          }
        }
      }
    },
    "/api/v1/website/customer-applications/{application_id}": {
      "get": {
        "tags": [
          "Customer applications"
        ],
        "summary": "Read tenant-scoped automatic application status",
        "description": "Scope: website_switch_status.read. Returns a small external status model; internal workflow payload, secrets and other tenants are never exposed.",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current application status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerApplicationStatus"
                    },
                    "meta": {
                      "type": "object"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Application not found in authenticated tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "website_switch_status.read"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Gridex API token"
      }
    },
    "schemas": {
      "ErrorEnvelope": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "field": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "request_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "details": {
                "type": [
                  "object",
                  "array",
                  "null"
                ]
              },
              "correlation_id": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Correlation ID for support and audit; normally identical to request_id."
              },
              "retryable": {
                "type": "boolean",
                "description": "Whether the same operation can be retried after the underlying condition changes."
              }
            }
          },
          "error_code": {
            "type": "string",
            "description": "Additive machine-readable alias of error.code."
          },
          "correlation_id": {
            "type": "string",
            "description": "Correlation ID for logs, audit and support."
          },
          "retryable": {
            "type": "boolean",
            "description": "Whether retry may succeed after a transient dependency or data condition is resolved."
          }
        }
      },
      "TenantMeta": {
        "type": "object",
        "required": [
          "tenant_reference",
          "api_version",
          "channel"
        ],
        "properties": {
          "tenant_reference": {
            "type": "string",
            "pattern": "^tenant_[0-9a-f]{36}$",
            "description": "Stable opaque tenant identity. It is not the internal company UUID."
          },
          "api_version": {
            "const": "v1"
          },
          "channel": {
            "enum": [
              "website",
              "api"
            ]
          },
          "publication_revision": {
            "type": "integer",
            "minimum": 0
          },
          "publication_updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "IntegrationContext": {
        "type": "object",
        "required": [
          "tenant_reference",
          "api_client_reference",
          "api_version",
          "authoritative_identity",
          "contract_version",
          "configuration",
          "capabilities"
        ],
        "properties": {
          "tenant_reference": {
            "type": "string"
          },
          "api_client_reference": {
            "type": "string"
          },
          "api_version": {
            "const": "v1"
          },
          "authoritative_identity": {
            "const": "api_key"
          },
          "contract_version": {
            "const": "2026-07-24.1"
          },
          "configuration": {
            "type": "object",
            "required": [
              "required_environment_variables",
              "api_base_url",
              "authentication",
              "openapi_url",
              "application_reference_location",
              "tenant_id_environment_required",
              "company_id_environment_required"
            ],
            "properties": {
              "required_environment_variables": {
                "type": "array",
                "prefixItems": [
                  {
                    "const": "GRIDEX_API_KEY"
                  }
                ],
                "minItems": 1,
                "maxItems": 1
              },
              "api_base_url": {
                "const": "https://app.gridex.se/api/v1"
              },
              "authentication": {
                "type": "object",
                "required": [
                  "header",
                  "scheme",
                  "server_side_only"
                ],
                "properties": {
                  "header": {
                    "const": "Authorization"
                  },
                  "scheme": {
                    "const": "Bearer"
                  },
                  "server_side_only": {
                    "const": true
                  }
                }
              },
              "openapi_url": {
                "const": "https://app.gridex.se/api/v1/openapi/website-integration-v1.json"
              },
              "customer_portal_openapi_url": {
                "const": "https://app.gridex.se/api/v1/openapi/customer-portal-v1.json"
              },
              "application_reference_location": {
                "const": "top_level"
              },
              "tenant_id_environment_required": {
                "const": false
              },
              "company_id_environment_required": {
                "const": false
              }
            },
            "additionalProperties": false
          },
          "capabilities": {
            "type": "object",
            "required": [
              "website_checkout_ready",
              "customer_portal_ready",
              "complete_tenant_website_ready",
              "missing_website_scopes",
              "missing_customer_portal_scopes",
              "missing_recommended_scopes"
            ],
            "properties": {
              "website_checkout_ready": {
                "type": "boolean"
              },
              "customer_portal_ready": {
                "type": "boolean"
              },
              "complete_tenant_website_ready": {
                "type": "boolean"
              },
              "required_website_scopes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "missing_website_scopes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "required_customer_portal_scopes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "missing_customer_portal_scopes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "recommended_scopes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "missing_recommended_scopes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "additionalProperties": false
          }
        }
      },
      "CustomerType": {
        "type": "string",
        "enum": [
          "private",
          "business"
        ],
        "description": "Canonical values. company is temporarily accepted as a deprecated alias for business until 2026-10-31."
      },
      "PublicContract": {
        "type": "object",
        "required": [
          "offer_reference"
        ],
        "properties": {
          "offer_reference": {
            "type": "string"
          },
          "customer_type": {
            "enum": [
              "private",
              "business",
              "both"
            ]
          },
          "pricing": {
            "type": "object",
            "required": [
              "visibility",
              "calculation_components",
              "display_components",
              "calculation_contract",
              "summary_components"
            ],
            "properties": {
              "fixed_price": {
                "$ref": "#/components/schemas/ContractPriceValue",
                "description": "Compatibility value only when all SE-area prices are equal; otherwise null."
              },
              "monthly_fee": {
                "$ref": "#/components/schemas/ContractPriceValue"
              },
              "invoice_fee": {
                "$ref": "#/components/schemas/ContractPriceValue"
              },
              "markup": {
                "$ref": "#/components/schemas/ContractPriceValue"
              },
              "variable_fee": {
                "$ref": "#/components/schemas/ContractPriceValue"
              },
              "vat_rate": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "market_price_responsibility": {
                "type": "string",
                "enum": [
                  "ops_quote",
                  "not_applicable"
                ]
              },
              "visibility": {
                "type": "object",
                "additionalProperties": {
                  "type": "boolean"
                }
              },
              "calculation_components": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PricingComponent"
                }
              },
              "components": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PricingComponent"
                },
                "description": "Compatibility alias for calculation_components."
              },
              "display_components": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PricingComponent"
                }
              },
              "base_components": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "calculation_contract": {
                "type": "object",
                "required": [
                  "includes_all_applicable_components",
                  "hidden_components_must_be_calculated",
                  "market_price_supplied_by_ops"
                ],
                "properties": {
                  "includes_all_applicable_components": {
                    "const": true
                  },
                  "hidden_components_must_be_calculated": {
                    "const": true
                  },
                  "market_price_supplied_by_ops": {
                    "const": true
                  }
                },
                "additionalProperties": false
              },
              "summary_components": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PricingComponent"
                },
                "description": "Komponenter som får ingå som separata rader i en fullständig prissammanställning. Dolda komponenter finns fortfarande i calculation_components och totalsumman."
              },
              "area_pricing": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FixedAreaPrice"
                },
                "description": "Canonical area-price matrix for the same offer."
              }
            },
            "additionalProperties": true
          },
          "legal": {
            "type": "object",
            "additionalProperties": true
          },
          "contract_type": {
            "type": "string",
            "enum": [
              "fixed",
              "variable_monthly",
              "variable_hourly",
              "variable_quarterly",
              "portfolio",
              "mixed"
            ]
          },
          "fixed_price_ore_per_kwh": {
            "type": [
              "number",
              "null"
            ],
            "description": "Compatibility scalar. Returned only when every available SE area has the same fixed price; otherwise null. Use area_pricing."
          },
          "monthly_fee_sek": {
            "type": [
              "number",
              "null"
            ],
            "description": "Always returned when applicable; visibility never removes it from API calculation data."
          },
          "invoice_fee_sek": {
            "type": [
              "number",
              "null"
            ],
            "description": "Always returned when applicable; visibility never removes it from API calculation data."
          },
          "area_pricing": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FixedAreaPrice"
            },
            "description": "SE1-SE4 prices belonging to this one canonical product/version. They are not separate offers."
          }
        },
        "additionalProperties": true,
        "description": "Complete machine-readable calculation contract. Pricing fields and calculation_components include hidden charges. display_components is the presentation-only subset."
      },
      "QuoteRequest": {
        "type": "object",
        "required": [
          "offer_reference",
          "customer_type",
          "price_area",
          "annual_consumption_kwh",
          "start_date"
        ],
        "properties": {
          "offer_reference": {
            "type": "string"
          },
          "customer_type": {
            "type": "string",
            "enum": [
              "private",
              "business",
              "company"
            ],
            "description": "company is a deprecated alias for business."
          },
          "price_area": {
            "type": "string",
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4"
            ]
          },
          "annual_consumption_kwh": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "grid_area_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": false
      },
      "Quote": {
        "type": "object",
        "required": [
          "quote_reference",
          "offer_reference",
          "valid_until",
          "input"
        ],
        "properties": {
          "quote_reference": {
            "type": "string"
          },
          "offer_reference": {
            "type": "string"
          },
          "valid_until": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "selected_area_price": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/FixedAreaPrice"
              },
              {
                "type": "null"
              }
            ]
          },
          "input": {
            "type": "object",
            "additionalProperties": true
          },
          "estimate": {
            "type": "object",
            "additionalProperties": true
          },
          "lines": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "pricing": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "QuoteValidationRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebsiteQuoteRequest"
          },
          {
            "type": "object",
            "required": [
              "quote_reference"
            ],
            "properties": {
              "quote_reference": {
                "type": "string"
              },
              "application_id": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "uuid"
              }
            }
          }
        ]
      },
      "LegalAcceptances": {
        "type": "object",
        "properties": {
          "terms": {
            "type": "boolean"
          },
          "privacy_policy": {
            "type": "boolean"
          },
          "withdrawal": {
            "type": "boolean"
          },
          "power_of_attorney": {
            "type": "boolean"
          },
          "price_terms": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "CustomerApplicationRequest": {
        "type": "object",
        "required": [
          "offer_reference",
          "customer",
          "site",
          "annual_consumption_kwh",
          "legal_acceptances",
          "quote_reference",
          "resolution_id"
        ],
        "properties": {
          "external_customer_id": {
            "type": "string",
            "minLength": 1,
            "description": "Tenant-stable external customer identity."
          },
          "offer_reference": {
            "type": "string",
            "description": "Canonical opak offer_reference. Måste skickas på top-level."
          },
          "quote_reference": {
            "type": "string",
            "description": "Obligatorisk canonical OPS-quote. Fältet ligger alltid på top-level; inget konfigurerbart referensplaceringsläge finns eller behövs."
          },
          "annual_consumption_kwh": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "price_area": {
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4"
            ],
            "description": "Deprecated klientpåstående. OPS använder price_area från resolution_id och returnerar konflikt vid mismatch.",
            "deprecated": true
          },
          "grid_area": {
            "type": [
              "string",
              "null"
            ]
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "customer": {
            "type": "object",
            "required": [
              "customer_type",
              "email"
            ],
            "properties": {
              "customer_type": {
                "$ref": "#/components/schemas/CustomerType"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "company_name": {
                "type": "string"
              },
              "personal_number": {
                "type": "string"
              },
              "org_number": {
                "type": "string"
              }
            },
            "additionalProperties": true
          },
          "site": {
            "type": "object",
            "properties": {
              "postal_code": {
                "type": "string"
              },
              "price_area_code": {
                "enum": [
                  "SE1",
                  "SE2",
                  "SE3",
                  "SE4"
                ]
              },
              "grid_area_code": {
                "type": "string"
              },
              "annual_consumption_kwh": {
                "type": "number"
              },
              "move_in_date": {
                "type": "string",
                "format": "date"
              }
            },
            "additionalProperties": true
          },
          "metering_point": {
            "type": "object",
            "additionalProperties": true
          },
          "legal_acceptances": {
            "$ref": "#/components/schemas/LegalAcceptances"
          },
          "consents": {
            "$ref": "#/components/schemas/LegalAcceptances"
          },
          "powerOfAttorney": {
            "$ref": "#/components/schemas/PowerOfAttorneyInput"
          },
          "external_customer_reference": {
            "type": "string",
            "minLength": 1,
            "description": "Alias for external_customer_id. Preserved while OPS assigns or reuses the canonical customer_number."
          },
          "resolution_id": {
            "type": "string",
            "format": "uuid",
            "description": "Samma tenantbundna OPS-resolution som användes när quote skapades. Fältet ligger alltid på top-level."
          },
          "contract": {
            "type": "object",
            "description": "Kompletterande start- och avtalsuppgifter. Lägg inte offer_reference, quote_reference eller resolution_id här.",
            "properties": {
              "requested_start_mode": {
                "enum": [
                  "earliest_possible",
                  "specific_date"
                ]
              },
              "requested_start_date": {
                "type": "string",
                "format": "date"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true,
        "allOf": [
          {
            "anyOf": [
              {
                "required": [
                  "external_customer_id"
                ]
              },
              {
                "required": [
                  "external_customer_reference"
                ]
              }
            ]
          }
        ],
        "description": "Canonical kundansökan. offer_reference, quote_reference och resolution_id skickas exakt en gång på top-level. Ingen tenantkonfiguration eller quote-reference-mode används. När avtalet kräver fullmakt ska powerOfAttorney vara komplett och externally sendable.",
        "x-canonical-reference-location": "top_level"
      },
      "DiagnosticReadiness": {
        "type": "object",
        "required": [
          "canonical_graph_consistent",
          "forward_publication_link_valid",
          "reverse_legacy_link_valid",
          "company_chain_valid",
          "tenant_assignment_valid",
          "channel_valid",
          "source_offer_consistent",
          "pricing_ready",
          "legal_ready",
          "invoice_fee_ready",
          "publication_active",
          "application_acceptance_ready"
        ],
        "properties": {
          "canonical_graph_consistent": {
            "type": "boolean"
          },
          "forward_publication_link_valid": {
            "type": "boolean"
          },
          "reverse_legacy_link_valid": {
            "type": "boolean"
          },
          "company_chain_valid": {
            "type": "boolean"
          },
          "tenant_assignment_valid": {
            "type": "boolean"
          },
          "channel_valid": {
            "type": "boolean"
          },
          "source_offer_consistent": {
            "type": "boolean"
          },
          "pricing_ready": {
            "type": "boolean"
          },
          "legal_ready": {
            "type": "boolean"
          },
          "invoice_fee_ready": {
            "type": "boolean"
          },
          "publication_active": {
            "type": "boolean"
          },
          "application_acceptance_ready": {
            "type": "boolean"
          }
        }
      },
      "PublicationChangedWebhook": {
        "type": "object",
        "required": [
          "id",
          "type",
          "created_at",
          "tenant_reference",
          "aggregate",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "const": "contracts.publication.changed"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "tenant_reference": {
            "type": "string"
          },
          "aggregate": {
            "type": "object",
            "required": [
              "type",
              "id"
            ],
            "properties": {
              "type": {
                "const": "contract_publication"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "data": {
            "type": "object",
            "required": [
              "tenant_reference",
              "channel",
              "publication_revision",
              "revision_token",
              "reason",
              "timestamp"
            ],
            "properties": {
              "tenant_reference": {
                "type": "string"
              },
              "channel": {
                "enum": [
                  "website",
                  "api",
                  "internal",
                  "phone",
                  "partner"
                ]
              },
              "publication_revision": {
                "type": "integer"
              },
              "revision_token": {
                "type": "string",
                "format": "uuid"
              },
              "reason": {
                "type": "string"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "EnergyAreaResolveRequest": {
        "type": "object",
        "properties": {
          "street": {
            "type": [
              "string",
              "null"
            ]
          },
          "street_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "city": {
            "type": [
              "string",
              "null"
            ]
          },
          "country": {
            "type": [
              "string",
              "null"
            ],
            "default": "SE"
          },
          "grid_area_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "facility_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "metering_point_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "requested_start_mode": {
            "type": [
              "string",
              "null"
            ]
          },
          "requested_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          }
        },
        "additionalProperties": false,
        "anyOf": [
          {
            "required": [
              "postal_code"
            ]
          },
          {
            "required": [
              "grid_area_code"
            ]
          },
          {
            "required": [
              "facility_id"
            ]
          },
          {
            "required": [
              "metering_point_id"
            ]
          }
        ]
      },
      "EnergyAreaResolution": {
        "type": "object",
        "required": [
          "resolution_status",
          "automation_allowed",
          "warnings"
        ],
        "properties": {
          "resolution_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "price_area": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4",
              null
            ]
          },
          "grid_area_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "grid_area_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "grid_owner_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "grid_owner_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "resolution_status": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "automation_allowed": {
            "type": "boolean"
          },
          "next_required_action": {
            "type": [
              "string",
              "null"
            ]
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": true
      },
      "SwitchStatus": {
        "type": "object",
        "required": [
          "application_number",
          "application_status",
          "switch",
          "next_step",
          "blocking_reasons",
          "requested_start_date",
          "confirmed_start_date",
          "actual_start_date"
        ],
        "properties": {
          "application_number": {
            "type": "string"
          },
          "application_status": {
            "type": "string"
          },
          "switch": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "required": [
                  "switch_reference",
                  "status",
                  "lifecycle_blocked",
                  "events"
                ],
                "properties": {
                  "switch_reference": {
                    "type": "string",
                    "pattern": "^switch_"
                  },
                  "status": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "requested_start_date": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date"
                  },
                  "submitted_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "completed_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "failed_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "failure_reason": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "paused_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "pause_reason": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "lifecycle_blocked": {
                    "type": "boolean"
                  },
                  "lifecycle_block_source": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "updated_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "event_type",
                        "event_status",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "event_type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "event_status": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "message": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "created_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        }
                      },
                      "additionalProperties": false
                    }
                  }
                },
                "additionalProperties": false
              }
            ]
          },
          "next_step": {
            "type": [
              "string",
              "null"
            ]
          },
          "blocking_reasons": {
            "type": "array",
            "items": {}
          },
          "requested_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "confirmed_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "actual_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          }
        },
        "additionalProperties": false
      },
      "WebsiteVisibilityMode": {
        "type": "string",
        "enum": [
          "visible",
          "hidden",
          "summary_only"
        ],
        "description": "Presentation only. Hidden components remain available to the tenant calculation engine."
      },
      "CalculationInclusion": {
        "type": "string",
        "enum": [
          "included",
          "excluded",
          "conditional"
        ],
        "description": "Whether the component participates in the calculation. Independent of website visibility."
      },
      "PricingComponent": {
        "type": "object",
        "required": [
          "component_code",
          "amount",
          "unit",
          "calculation_inclusion",
          "website_visibility"
        ],
        "properties": {
          "component_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "component_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "amount": {
            "type": "number"
          },
          "unit": {
            "type": "string"
          },
          "calculation_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "calculation_base": {
            "type": [
              "string",
              "null"
            ]
          },
          "vat_applicable": {
            "type": "boolean"
          },
          "calculation_inclusion": {
            "$ref": "#/components/schemas/CalculationInclusion"
          },
          "website_visibility": {
            "$ref": "#/components/schemas/WebsiteVisibilityMode"
          },
          "website_card_visible": {
            "type": "boolean",
            "deprecated": true,
            "description": "Compatibility boolean. Use website_visibility."
          }
        },
        "additionalProperties": true
      },
      "ContractPriceValue": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "unit": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "vat_included": {
            "type": "boolean"
          },
          "vat_rate": {
            "type": [
              "number",
              "null"
            ]
          },
          "calculation_inclusion": {
            "$ref": "#/components/schemas/CalculationInclusion"
          },
          "website_visibility": {
            "$ref": "#/components/schemas/WebsiteVisibilityMode"
          }
        },
        "additionalProperties": true
      },
      "FixedAreaPrice": {
        "type": "object",
        "required": [
          "price_area",
          "energy_price_ore_per_kwh",
          "unit"
        ],
        "properties": {
          "price_area": {
            "type": "string",
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4"
            ]
          },
          "energy_price_ore_per_kwh": {
            "type": "number",
            "minimum": 0
          },
          "unit": {
            "const": "ore_per_kwh"
          },
          "vat_included": {
            "type": "boolean"
          },
          "vat_rate": {
            "type": [
              "number",
              "null"
            ]
          }
        },
        "additionalProperties": true
      },
      "WebsiteQuoteRequest": {
        "type": "object",
        "required": [
          "offer_reference",
          "customer_type",
          "resolution_id",
          "annual_consumption_kwh",
          "start_date"
        ],
        "properties": {
          "offer_reference": {
            "type": "string"
          },
          "customer_type": {
            "type": "string",
            "enum": [
              "private",
              "business",
              "company"
            ],
            "description": "company is a deprecated alias for business."
          },
          "price_area": {
            "type": "string",
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4"
            ],
            "description": "Valfritt klientpåstående för korsvalidering. Måste matcha resolution_id och kan aldrig skriva över OPS."
          },
          "annual_consumption_kwh": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "grid_area_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Valfritt klientpåstående för korsvalidering. Måste matcha resolution_id."
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "resolution_id": {
            "type": "string",
            "format": "uuid",
            "description": "Tenantbunden OPS-resolution. Dess price_area och grid_area_code är canonical."
          }
        },
        "additionalProperties": false
      },
      "WebsiteQuoteData": {
        "type": "object",
        "required": [
          "quote_reference",
          "offer_reference",
          "valid_until",
          "input"
        ],
        "properties": {
          "quote_reference": {
            "type": "string"
          },
          "offer_reference": {
            "type": "string"
          },
          "valid_until": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "selected_area_price": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/FixedAreaPrice"
              },
              {
                "type": "null"
              }
            ]
          },
          "input": {
            "type": "object",
            "additionalProperties": true
          },
          "estimate": {
            "type": "object",
            "additionalProperties": true
          },
          "lines": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "pricing": {
            "type": "object",
            "additionalProperties": true
          },
          "resolution": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          },
          "market_reference": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/MarketReference"
              },
              {
                "type": "null"
              }
            ]
          },
          "is_binding": {
            "type": "boolean",
            "const": false
          },
          "market_data_timestamp": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "WebsiteQuoteResponse": {
        "type": "object",
        "required": [
          "data",
          "request_id"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/WebsiteQuoteData"
          },
          "quote": {
            "$ref": "#/components/schemas/WebsiteQuoteData"
          },
          "request_id": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "WebsiteQuoteValidationRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebsiteQuoteRequest"
          },
          {
            "type": "object",
            "required": [
              "quote_reference"
            ],
            "properties": {
              "quote_reference": {
                "type": "string"
              },
              "application_id": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "uuid"
              }
            }
          }
        ]
      },
      "WebsiteEnergyAreaResolveRequest": {
        "type": "object",
        "properties": {
          "street": {
            "type": [
              "string",
              "null"
            ]
          },
          "street_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "city": {
            "type": [
              "string",
              "null"
            ]
          },
          "country": {
            "type": [
              "string",
              "null"
            ],
            "default": "SE"
          },
          "grid_area_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "facility_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "metering_point_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "requested_start_mode": {
            "type": [
              "string",
              "null"
            ]
          },
          "requested_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          }
        },
        "additionalProperties": false,
        "anyOf": [
          {
            "required": [
              "postal_code"
            ]
          },
          {
            "required": [
              "grid_area_code"
            ]
          },
          {
            "required": [
              "facility_id"
            ]
          },
          {
            "required": [
              "metering_point_id"
            ]
          }
        ]
      },
      "WebsiteEnergyAreaResolution": {
        "type": "object",
        "required": [
          "resolution_status",
          "automation_allowed",
          "warnings"
        ],
        "properties": {
          "resolution_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "price_area": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4",
              null
            ]
          },
          "grid_area_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "grid_area_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "grid_owner_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "grid_owner_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "resolution_status": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "automation_allowed": {
            "type": "boolean"
          },
          "next_required_action": {
            "type": [
              "string",
              "null"
            ]
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "resolved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "resolver_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "geodata_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "conflict_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "error_code": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": true,
        "description": "Tenantbunden OPS-resolution. automation_allowed=false och needs_review blockerar quote och leverantörsbyte."
      },
      "WebsiteEnergyAreaResolveResponse": {
        "type": "object",
        "required": [
          "data",
          "request_id"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/WebsiteEnergyAreaResolution"
          },
          "request_id": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "MarketReference": {
        "type": "object",
        "required": [
          "provider",
          "price_area",
          "reference_type",
          "reference_period",
          "as_of",
          "unit",
          "is_indicative",
          "is_stale",
          "fallback_used"
        ],
        "properties": {
          "provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "price_area": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4",
              null
            ]
          },
          "reference_type": {
            "type": "string",
            "enum": [
              "preview",
              "settlement"
            ]
          },
          "reference_period": {
            "type": [
              "string",
              "null"
            ]
          },
          "period_start": {
            "type": [
              "string",
              "null"
            ]
          },
          "period_end": {
            "type": [
              "string",
              "null"
            ]
          },
          "as_of": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "source_currency": {
            "type": "string",
            "default": "SEK"
          },
          "unit": {
            "type": "string",
            "enum": [
              "sek_per_kwh"
            ]
          },
          "includes_vat": {
            "type": "boolean"
          },
          "includes_supplier_fees": {
            "type": "boolean"
          },
          "includes_grid_fees": {
            "type": "boolean"
          },
          "is_indicative": {
            "type": "boolean"
          },
          "is_stale": {
            "type": "boolean"
          },
          "fallback_used": {
            "type": "boolean"
          },
          "fallback_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_checksum": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": true,
        "description": "Proveniens för marknadsreferensen. preview är indikativ och får aldrig användas som slutligt settlementunderlag."
      },
      "PowerOfAttorneyInput": {
        "type": "object",
        "required": [
          "accepted",
          "scope",
          "signerName",
          "signerIdentityNumber",
          "method",
          "textVersionId"
        ],
        "properties": {
          "accepted": {
            "type": "boolean",
            "const": true
          },
          "scope": {
            "type": "array",
            "minItems": 1,
            "uniqueItems": true,
            "items": {
              "enum": [
                "supplier_switch",
                "facility_information_lookup"
              ]
            },
            "description": "Exakt publicerat authorization scope."
          },
          "signerName": {
            "type": "string",
            "minLength": 1
          },
          "signerIdentityNumber": {
            "type": "string",
            "minLength": 6,
            "description": "Signerande persons identitet. Hanteras som skyddsvärd personuppgift."
          },
          "method": {
            "type": "string",
            "enum": [
              "website_acceptance",
              "bankid",
              "electronic_signature",
              "manual_signature"
            ]
          },
          "acceptedAt": {
            "type": "string",
            "format": "date-time"
          },
          "textVersionId": {
            "type": "string",
            "format": "uuid",
            "description": "Publicerad power-of-attorney-version från legal bundle."
          },
          "ipAddress": {
            "type": "string"
          },
          "userAgent": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "description": "Strukturerad fullmakt som krävs för externally_sendable nätägarkommunikation. Bare consents.power_of_attorney=true är endast juridisk acceptans och kan inte skickas externt."
      },
      "CustomerApplicationStatus": {
        "type": "object",
        "required": [
          "application_id",
          "status",
          "stage",
          "missing_customer_action",
          "updated_at"
        ],
        "properties": {
          "application_id": {
            "type": "string",
            "format": "uuid"
          },
          "application_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "enum": [
              "accepted",
              "processing",
              "needs_customer_information",
              "completed",
              "rejected",
              "failed"
            ]
          },
          "stage": {
            "type": "string"
          },
          "customer_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "contract_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "supplier_switch_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "supply_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "requested_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "confirmed_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "missing_customer_action": {
            "type": "boolean"
          },
          "next_step": {
            "type": [
              "string",
              "null"
            ]
          },
          "blocking_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid query or payload",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Scope missing or tenant access denied",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Conflict": {
        "description": "Expired, consumed or mismatched quote/idempotency state",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      }
    }
  },
  "x-contract-schema-version": "2026-07-24.1",
  "x-gridex-tenant-setup": {
    "required_environment_variables": [
      "GRIDEX_API_KEY"
    ],
    "api_base_url": "https://app.gridex.se/api/v1",
    "authentication": "Authorization: Bearer <GRIDEX_API_KEY>",
    "tenant_identity_source": "api_key",
    "tenant_id_environment_required": false,
    "company_id_environment_required": false,
    "application_reference_location": "top_level",
    "website_openapi_url": "https://app.gridex.se/api/v1/openapi/website-integration-v1.json",
    "customer_portal_openapi_url": "https://app.gridex.se/api/v1/openapi/customer-portal-v1.json"
  }
}
