{
  "openapi": "3.1.0",
  "info": {
    "title": "Gridex Website and Partner Integration API",
    "version": "2026-07-22.2",
    "description": "Canonical V1 contract publication and website application API. OPS supplies complete versioned contract prices, fees, VAT and presentation rules. Tenant backends resolve public energy areas and external market prices; OPS never supplies tenant-facing Nord Pool prices."
  },
  "servers": [
    {
      "url": "https://app.gridex.se"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Integration context"
    },
    {
      "name": "Website contracts"
    },
    {
      "name": "API contracts"
    },
    {
      "name": "Quotes"
    },
    {
      "name": "Customer applications"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Energy area"
    },
    {
      "name": "Switch status"
    }
  ],
  "paths": {
    "/api/v1/integration/context": {
      "get": {
        "tags": [
          "Integration context"
        ],
        "summary": "Verify the API key tenant context",
        "description": "Scope: integration_context.read. The API key is authoritative; company_id is never accepted as a tenant selector.",
        "responses": {
          "200": {
            "description": "Tenant context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/IntegrationContext"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/IntegrationContext"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/website/public-contracts": {
      "get": {
        "tags": [
          "Website contracts"
        ],
        "summary": "List website-published contracts",
        "description": "Scope: website_contracts.read. Supports ETag/If-None-Match and returns 304. diagnostics=1 is deprecated; use the diagnostics endpoint. Sunset: 2026-10-31.",
        "parameters": [
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business",
                "company"
              ]
            },
            "description": "private or business. company is deprecated and normalized to business."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "diagnostics",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Website contract feed",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-07-22.2"
                },
                "description": "Version of the machine-readable public contract representation. Changes invalidate ETag."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicContract"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta",
                      "properties": {
                        "contract_schema_version": {
                          "const": "2026-07-22.2"
                        }
                      },
                      "required": [
                        "contract_schema_version"
                      ]
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Publication revision has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/website/public-contracts/diagnostics": {
      "get": {
        "tags": [
          "Website contracts"
        ],
        "summary": "Diagnose canonical website publication readiness",
        "description": "Scope: website_contracts.diagnostics. Uses the same canonical publication graph and readiness sources as the normal feed. The normal data field remains an array.",
        "parameters": [
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business",
                "company"
              ]
            },
            "description": "private or business. company is deprecated and normalized to business."
          }
        ],
        "responses": {
          "200": {
            "description": "Diagnostics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicContract"
                      }
                    },
                    "diagnostics": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/contracts": {
      "get": {
        "tags": [
          "API contracts"
        ],
        "summary": "List contracts published to the api channel",
        "description": "Scope: api_contracts.read. This endpoint is independent of the website channel and has its own tenant+channel publication revision.",
        "parameters": [
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business",
                "company"
              ]
            },
            "description": "private or business. company is deprecated and normalized to business."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API channel feed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicContract"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta"
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "API publication revision has not changed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/website/quote": {
      "post": {
        "deprecated": true,
        "tags": [
          "Deprecated"
        ],
        "summary": "External OPS market-price quotes were removed. Use public-contracts and calculate the non-binding preview in the tenant backend.",
        "description": "Removed in API 2026-07-22.2. Always returns HTTP 410 with error.code=tenant_managed_pricing_required.",
        "responses": {
          "410": {
            "description": "External OPS market-price quotes were removed. Use public-contracts and calculate the non-binding preview in the tenant backend.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/website/quote/validate": {
      "post": {
        "deprecated": true,
        "tags": [
          "Deprecated"
        ],
        "summary": "quote_reference validation was removed. New applications bind directly to offer_reference and the published versions.",
        "description": "Removed in API 2026-07-22.2. Always returns HTTP 410 with error.code=quote_validation_removed.",
        "responses": {
          "410": {
            "description": "quote_reference validation was removed. New applications bind directly to offer_reference and the published versions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/website/customer-applications": {
      "post": {
        "tags": [
          "Customer applications"
        ],
        "summary": "Create a customer application bound to a published offer",
        "description": "Scope: website_applications.write. Idempotency-Key is required. offer_reference is the only commercial selector. The tenant supplies its resolved price_area_code; OPS verifies that the area is valid and allowed by the published offer. OPS locks the published pricing, fee, VAT and legal versions. quote_reference is deprecated and ignored.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "description": "Application validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/contracts.publication.changed": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "contracts.publication.changed receiver contract",
        "description": "Gridex sends signed HMAC-SHA256 requests. Verify x-gridex-timestamp and x-gridex-signature over `${timestamp}.${rawBody}`, reject stale timestamps, and deduplicate by x-gridex-event-id / x-gridex-delivery-id. Return any 2xx on success. Failed attempts use the configured retry/dead-letter pipeline.",
        "parameters": [
          {
            "name": "x-gridex-event-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gridex-delivery-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gridex-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gridex-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^sha256="
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicationChangedWebhook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted and durably deduplicated"
          }
        }
      }
    },
    "/api/v1/website/energy-area/resolve": {
      "post": {
        "deprecated": true,
        "tags": [
          "Deprecated"
        ],
        "summary": "Public area resolution belongs to the tenant website. Submit price_area_code to customer-applications for OPS verification.",
        "description": "Removed in API 2026-07-22.2. Always returns HTTP 410 with error.code=tenant_managed_energy_area_required.",
        "responses": {
          "410": {
            "description": "Public area resolution belongs to the tenant website. Submit price_area_code to customer-applications for OPS verification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/website/switch-status": {
      "get": {
        "tags": [
          "Switch status"
        ],
        "summary": "Read supplier-switch status for an application",
        "description": "Scope: website_switch_status.read. application_number is resolved strictly inside the API key tenant. Internal company, application and switch UUIDs are not exposed.",
        "parameters": [
          {
            "in": "query",
            "name": "application_number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current application and supplier-switch status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SwitchStatus"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Application not found in tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Status unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Gridex API token"
      }
    },
    "schemas": {
      "ErrorEnvelope": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "field": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "request_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "details": {
                "type": [
                  "object",
                  "array",
                  "null"
                ]
              }
            }
          }
        }
      },
      "TenantMeta": {
        "type": "object",
        "required": [
          "tenant_reference",
          "api_version",
          "channel"
        ],
        "properties": {
          "tenant_reference": {
            "type": "string",
            "pattern": "^tenant_[0-9a-f]{36}$",
            "description": "Stable opaque tenant identity. It is not the internal company UUID."
          },
          "api_version": {
            "const": "v1"
          },
          "channel": {
            "enum": [
              "website",
              "api"
            ]
          },
          "publication_revision": {
            "type": "integer",
            "minimum": 0
          },
          "publication_updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "IntegrationContext": {
        "type": "object",
        "required": [
          "tenant_reference",
          "api_client_reference",
          "api_version",
          "authoritative_identity"
        ],
        "properties": {
          "tenant_reference": {
            "type": "string"
          },
          "api_client_reference": {
            "type": "string"
          },
          "api_version": {
            "const": "v1"
          },
          "authoritative_identity": {
            "const": "api_key"
          }
        }
      },
      "CustomerType": {
        "type": "string",
        "enum": [
          "private",
          "business"
        ],
        "description": "Canonical values. company is temporarily accepted as a deprecated alias for business until 2026-10-31."
      },
      "PublicContract": {
        "type": "object",
        "required": [
          "offer_reference"
        ],
        "properties": {
          "offer_reference": {
            "type": "string"
          },
          "customer_type": {
            "enum": [
              "private",
              "business",
              "both"
            ]
          },
          "pricing": {
            "type": "object",
            "required": [
              "visibility",
              "calculation_components",
              "display_components",
              "calculation_contract",
              "summary_components"
            ],
            "properties": {
              "fixed_price": {
                "$ref": "#/components/schemas/ContractPriceValue",
                "description": "Canonical fixed kWh price. For fixed agreements it is always returned and always customer-visible."
              },
              "monthly_fee": {
                "$ref": "#/components/schemas/ContractPriceValue"
              },
              "invoice_fee": {
                "$ref": "#/components/schemas/ContractPriceValue"
              },
              "markup": {
                "$ref": "#/components/schemas/ContractPriceValue"
              },
              "variable_fee": {
                "$ref": "#/components/schemas/ContractPriceValue"
              },
              "vat_rate": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "market_price_responsibility": {
                "type": "string",
                "enum": [
                  "tenant",
                  "not_applicable"
                ]
              },
              "visibility": {
                "type": "object",
                "additionalProperties": {
                  "type": "boolean"
                }
              },
              "calculation_components": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PricingComponent"
                }
              },
              "components": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PricingComponent"
                },
                "description": "Compatibility alias for calculation_components."
              },
              "display_components": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PricingComponent"
                }
              },
              "base_components": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "calculation_contract": {
                "type": "object",
                "required": [
                  "includes_all_applicable_components",
                  "hidden_components_must_be_calculated",
                  "market_price_supplied_by_ops"
                ],
                "properties": {
                  "includes_all_applicable_components": {
                    "const": true
                  },
                  "hidden_components_must_be_calculated": {
                    "const": true
                  },
                  "market_price_supplied_by_ops": {
                    "const": false
                  }
                },
                "additionalProperties": false
              },
              "summary_components": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PricingComponent"
                },
                "description": "Komponenter som får ingå som separata rader i en fullständig prissammanställning. Dolda komponenter finns fortfarande i calculation_components och totalsumman."
              }
            },
            "additionalProperties": true
          },
          "legal": {
            "type": "object",
            "additionalProperties": true
          },
          "contract_type": {
            "type": "string",
            "enum": [
              "fixed",
              "variable_monthly",
              "variable_hourly",
              "variable_quarterly",
              "portfolio",
              "mixed"
            ]
          },
          "fixed_price_ore_per_kwh": {
            "type": [
              "number",
              "null"
            ],
            "description": "Canonical fixed energy price. Always returned and customer-visible for fixed agreements."
          },
          "monthly_fee_sek": {
            "type": [
              "number",
              "null"
            ],
            "description": "Always returned when applicable; visibility never removes it from API calculation data."
          },
          "invoice_fee_sek": {
            "type": [
              "number",
              "null"
            ],
            "description": "Always returned when applicable; visibility never removes it from API calculation data."
          }
        },
        "additionalProperties": true,
        "description": "Complete machine-readable calculation contract. Pricing fields and calculation_components include hidden charges. display_components is the presentation-only subset."
      },
      "QuoteRequest": {
        "type": "object",
        "deprecated": true,
        "description": "Deprecated i API 2026-07-22.2. Extern OPS quote har tagits bort; använd public-contracts och tenantens egen kalkylator.",
        "additionalProperties": false,
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        }
      },
      "Quote": {
        "type": "object",
        "deprecated": true,
        "description": "Deprecated i API 2026-07-22.2. Extern OPS quote har tagits bort; använd public-contracts och tenantens egen kalkylator.",
        "additionalProperties": false,
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        }
      },
      "QuoteValidationRequest": {
        "type": "object",
        "deprecated": true,
        "description": "Deprecated i API 2026-07-22.2. Extern OPS quote har tagits bort; använd public-contracts och tenantens egen kalkylator.",
        "additionalProperties": false,
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        }
      },
      "LegalAcceptances": {
        "type": "object",
        "properties": {
          "terms": {
            "type": "boolean"
          },
          "privacy_policy": {
            "type": "boolean"
          },
          "withdrawal": {
            "type": "boolean"
          },
          "power_of_attorney": {
            "type": "boolean"
          },
          "price_terms": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "CustomerApplicationRequest": {
        "type": "object",
        "required": [
          "external_customer_id",
          "offer_reference",
          "customer",
          "site",
          "annual_consumption_kwh",
          "legal_acceptances"
        ],
        "properties": {
          "external_customer_id": {
            "type": "string"
          },
          "offer_reference": {
            "type": "string"
          },
          "quote_reference": {
            "type": [
              "string",
              "null"
            ],
            "deprecated": true,
            "description": "Ignored compatibility field. Do not send in new integrations."
          },
          "annual_consumption_kwh": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "price_area": {
            "enum": [
              "SE1",
              "SE2",
              "SE3",
              "SE4"
            ],
            "description": "Resolved by the tenant. OPS verifies validity and offer eligibility."
          },
          "grid_area": {
            "type": [
              "string",
              "null"
            ]
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "customer": {
            "type": "object",
            "required": [
              "customer_type",
              "email"
            ],
            "properties": {
              "customer_type": {
                "$ref": "#/components/schemas/CustomerType"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "company_name": {
                "type": "string"
              },
              "personal_number": {
                "type": "string"
              },
              "org_number": {
                "type": "string"
              }
            },
            "additionalProperties": true
          },
          "site": {
            "type": "object",
            "properties": {
              "postal_code": {
                "type": "string"
              },
              "price_area_code": {
                "enum": [
                  "SE1",
                  "SE2",
                  "SE3",
                  "SE4"
                ]
              },
              "grid_area_code": {
                "type": "string"
              },
              "annual_consumption_kwh": {
                "type": "number"
              },
              "move_in_date": {
                "type": "string",
                "format": "date"
              }
            },
            "additionalProperties": true
          },
          "metering_point": {
            "type": "object",
            "additionalProperties": true
          },
          "legal_acceptances": {
            "$ref": "#/components/schemas/LegalAcceptances"
          },
          "consents": {
            "$ref": "#/components/schemas/LegalAcceptances"
          },
          "powerOfAttorney": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "DiagnosticReadiness": {
        "type": "object",
        "required": [
          "canonical_graph_consistent",
          "forward_publication_link_valid",
          "reverse_legacy_link_valid",
          "company_chain_valid",
          "tenant_assignment_valid",
          "channel_valid",
          "source_offer_consistent",
          "pricing_ready",
          "legal_ready",
          "invoice_fee_ready",
          "publication_active",
          "application_acceptance_ready"
        ],
        "properties": {
          "canonical_graph_consistent": {
            "type": "boolean"
          },
          "forward_publication_link_valid": {
            "type": "boolean"
          },
          "reverse_legacy_link_valid": {
            "type": "boolean"
          },
          "company_chain_valid": {
            "type": "boolean"
          },
          "tenant_assignment_valid": {
            "type": "boolean"
          },
          "channel_valid": {
            "type": "boolean"
          },
          "source_offer_consistent": {
            "type": "boolean"
          },
          "pricing_ready": {
            "type": "boolean"
          },
          "legal_ready": {
            "type": "boolean"
          },
          "invoice_fee_ready": {
            "type": "boolean"
          },
          "publication_active": {
            "type": "boolean"
          },
          "application_acceptance_ready": {
            "type": "boolean"
          }
        }
      },
      "PublicationChangedWebhook": {
        "type": "object",
        "required": [
          "id",
          "type",
          "created_at",
          "tenant_reference",
          "aggregate",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "const": "contracts.publication.changed"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "tenant_reference": {
            "type": "string"
          },
          "aggregate": {
            "type": "object",
            "required": [
              "type",
              "id"
            ],
            "properties": {
              "type": {
                "const": "contract_publication"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "data": {
            "type": "object",
            "required": [
              "tenant_reference",
              "channel",
              "publication_revision",
              "revision_token",
              "reason",
              "timestamp"
            ],
            "properties": {
              "tenant_reference": {
                "type": "string"
              },
              "channel": {
                "enum": [
                  "website",
                  "api",
                  "internal",
                  "phone",
                  "partner"
                ]
              },
              "publication_revision": {
                "type": "integer"
              },
              "revision_token": {
                "type": "string",
                "format": "uuid"
              },
              "reason": {
                "type": "string"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "EnergyAreaResolveRequest": {
        "type": "object",
        "deprecated": true,
        "description": "Deprecated i API 2026-07-22.2. Tenantens publika webbplats löser prisområdet själv; OPS verifierar inskickat område vid ansökan.",
        "additionalProperties": false,
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        }
      },
      "EnergyAreaResolution": {
        "type": "object",
        "deprecated": true,
        "description": "Deprecated i API 2026-07-22.2. Tenantens publika webbplats löser prisområdet själv; OPS verifierar inskickat område vid ansökan.",
        "additionalProperties": false,
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        }
      },
      "SwitchStatus": {
        "type": "object",
        "required": [
          "application_number",
          "application_status",
          "switch",
          "next_step",
          "blocking_reasons",
          "requested_start_date",
          "confirmed_start_date",
          "actual_start_date"
        ],
        "properties": {
          "application_number": {
            "type": "string"
          },
          "application_status": {
            "type": "string"
          },
          "switch": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "required": [
                  "switch_reference",
                  "status",
                  "lifecycle_blocked",
                  "events"
                ],
                "properties": {
                  "switch_reference": {
                    "type": "string",
                    "pattern": "^switch_"
                  },
                  "status": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "requested_start_date": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date"
                  },
                  "submitted_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "completed_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "failed_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "failure_reason": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "paused_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "pause_reason": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "lifecycle_blocked": {
                    "type": "boolean"
                  },
                  "lifecycle_block_source": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "updated_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "event_type",
                        "event_status",
                        "message",
                        "created_at"
                      ],
                      "properties": {
                        "event_type": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "event_status": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "message": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "created_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        }
                      },
                      "additionalProperties": false
                    }
                  }
                },
                "additionalProperties": false
              }
            ]
          },
          "next_step": {
            "type": [
              "string",
              "null"
            ]
          },
          "blocking_reasons": {
            "type": "array",
            "items": {}
          },
          "requested_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "confirmed_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "actual_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          }
        },
        "additionalProperties": false
      },
      "WebsiteVisibilityMode": {
        "type": "string",
        "enum": [
          "visible",
          "hidden",
          "summary_only"
        ],
        "description": "Presentation only. Hidden components remain available to the tenant calculation engine."
      },
      "CalculationInclusion": {
        "type": "string",
        "enum": [
          "included",
          "excluded",
          "conditional"
        ],
        "description": "Whether the component participates in the calculation. Independent of website visibility."
      },
      "PricingComponent": {
        "type": "object",
        "required": [
          "component_code",
          "amount",
          "unit",
          "calculation_inclusion",
          "website_visibility"
        ],
        "properties": {
          "component_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "component_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "amount": {
            "type": "number"
          },
          "unit": {
            "type": "string"
          },
          "calculation_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "calculation_base": {
            "type": [
              "string",
              "null"
            ]
          },
          "vat_applicable": {
            "type": "boolean"
          },
          "calculation_inclusion": {
            "$ref": "#/components/schemas/CalculationInclusion"
          },
          "website_visibility": {
            "$ref": "#/components/schemas/WebsiteVisibilityMode"
          },
          "website_card_visible": {
            "type": "boolean",
            "deprecated": true,
            "description": "Compatibility boolean. Use website_visibility."
          }
        },
        "additionalProperties": true
      },
      "ContractPriceValue": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "unit": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "vat_included": {
            "type": "boolean"
          },
          "vat_rate": {
            "type": [
              "number",
              "null"
            ]
          },
          "calculation_inclusion": {
            "$ref": "#/components/schemas/CalculationInclusion"
          },
          "website_visibility": {
            "$ref": "#/components/schemas/WebsiteVisibilityMode"
          }
        },
        "additionalProperties": true
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid query or payload",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Scope missing or tenant access denied",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Conflict": {
        "description": "Expired, consumed or mismatched quote/idempotency state",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      }
    }
  }
}
