{
  "openapi": "3.1.0",
  "info": {
    "title": "Gridex Staff Support API",
    "version": "2026-10-03.1",
    "description": "API-first staff frontend contract. Tenant integration credential AND OPS-issued personal staff proof are required for resources; fresh native permissions remain authoritative. Native Auth credentials stay inside OPS. Website/Customer Portal .4 is unchanged."
  },
  "servers": [
    {
      "url": "https://app.gridex.se"
    }
  ],
  "x-contract-schema-version": "2026-10-03.1",
  "x-gridex-release-version": "2026-10-03.1",
  "x-staff-protocol-capabilities": [
    "staff.sessions",
    "staff.context",
    "staff.customers.read",
    "staff.support.read",
    "staff.support.write",
    "staff.support.attachments"
  ],
  "paths": {
    "/api/v1/staff/sessions": {
      "post": {
        "operationId": "postApiV1StaffSessions",
        "summary": "Authenticate an eligible staff member.",
        "security": [
          {
            "integrationBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticate an eligible staff member.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffSessionReceiptEnvelope"
                },
                "example": {
                  "data": {
                    "status": "authenticated",
                    "staff_access_token": "Synthetic documentation example",
                    "refresh_token": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
                    "token_type": "Bearer",
                    "expires_in": 300,
                    "expires_at": "2026-10-03T21:51:31.000Z",
                    "refresh_expires_at": "2026-10-03T21:51:31.000Z",
                    "session_reference": "session_synthetic_documentation",
                    "staff_reference": "staff_synthetic_documentation",
                    "organization_reference": "organization_synthetic_documentation",
                    "factors": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "400": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "401": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "403": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "404": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "409": {
            "description": "State/content conflict or short-lived session contention. staff_session_busy is retryable with Retry-After: 1.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "410": {
            "description": "Organization closed or inactive.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "413": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "415": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "422": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "423": {
            "description": "Organization paused.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "429": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "503": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "staff_sessions.write"
        ],
        "x-required-staff-permissions": [],
        "x-staff-authentication": "machine",
        "x-scope-mode": "all",
        "x-idempotency-required": false,
        "x-rate-limit-class": "write",
        "x-cache-policy": "no-store",
        "x-public-id-policy": "opaque-references",
        "x-max-json-bytes": 16384,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffSessionRequest"
              },
              "example": {
                "email": "synthetic.staff@example.invalid",
                "password": "Synthetic documentation example"
              }
            }
          }
        }
      }
    },
    "/api/v1/staff/sessions/refresh": {
      "post": {
        "operationId": "postApiV1StaffSessionsRefresh",
        "summary": "Rotate this API client’s staff session credentials.",
        "security": [
          {
            "integrationBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            },
            "description": "Stable key for this exact actor/client/tenant operation. Preserve it after a lost response; changed content conflicts."
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rotate this API client’s staff session credentials.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffSessionReceiptEnvelope"
                },
                "example": {
                  "data": {
                    "status": "authenticated",
                    "staff_access_token": "Synthetic documentation example",
                    "refresh_token": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
                    "token_type": "Bearer",
                    "expires_in": 300,
                    "expires_at": "2026-10-03T21:51:31.000Z",
                    "refresh_expires_at": "2026-10-03T21:51:31.000Z",
                    "session_reference": "session_synthetic_documentation",
                    "staff_reference": "staff_synthetic_documentation",
                    "organization_reference": "organization_synthetic_documentation",
                    "factors": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "400": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "401": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "403": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "404": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "409": {
            "description": "State/content conflict or short-lived session contention. staff_session_busy is retryable with Retry-After: 1.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "410": {
            "description": "Organization closed or inactive.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "413": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "415": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "422": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "423": {
            "description": "Organization paused.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "429": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "503": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "staff_sessions.write"
        ],
        "x-required-staff-permissions": [],
        "x-staff-authentication": "refresh",
        "x-scope-mode": "all",
        "x-idempotency-required": true,
        "x-rate-limit-class": "write",
        "x-cache-policy": "no-store",
        "x-public-id-policy": "opaque-references",
        "x-max-json-bytes": 16384,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffRefreshRequest"
              },
              "example": {
                "refresh_token": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
              }
            }
          }
        }
      }
    },
    "/api/v1/staff/sessions/logout": {
      "post": {
        "operationId": "postApiV1StaffSessionsLogout",
        "summary": "Revoke the staff API session.",
        "security": [
          {
            "integrationBearerAuth": [],
            "staffAuthorization": []
          },
          {
            "integrationBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            },
            "description": "Stable key for this exact actor/client/tenant operation. Preserve it after a lost response; changed content conflicts."
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoke the staff API session.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffLogoutReceiptEnvelope"
                },
                "example": {
                  "data": {
                    "logged_out": true
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "400": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "401": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "403": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "404": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "409": {
            "description": "State/content conflict or short-lived session contention. staff_session_busy is retryable with Retry-After: 1.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "410": {
            "description": "Organization closed or inactive.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "413": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "415": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "422": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "423": {
            "description": "Organization paused.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "429": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "503": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "staff_sessions.write"
        ],
        "x-required-staff-permissions": [],
        "x-staff-authentication": "logout",
        "x-scope-mode": "all",
        "x-idempotency-required": true,
        "x-rate-limit-class": "write",
        "x-cache-policy": "no-store",
        "x-public-id-policy": "opaque-references",
        "x-max-json-bytes": 16384,
        "description": "Either the current staff proof or refresh_token in the JSON body must authenticate a session bound to this exact integration client/organization. The machine key alone cannot identify or revoke a session.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffLogoutRequest"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/api/v1/staff/sessions/mfa/challenge": {
      "post": {
        "operationId": "postApiV1StaffSessionsMfaChallenge",
        "summary": "Create a challenge for an actor-owned TOTP factor.",
        "security": [
          {
            "integrationBearerAuth": [],
            "staffAuthorization": []
          }
        ],
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create a challenge for an actor-owned TOTP factor.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffMfaChallengeEnvelope"
                },
                "example": {
                  "data": {
                    "challenge_reference": "challenge_synthetic_documentation",
                    "method": "totp",
                    "expires_at": "2026-10-03T21:51:31.000Z"
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "400": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "401": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "403": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "404": {
            "description": "Canonical safe error. No provider/SQL/credential details.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "409": {
            "description": "State/content conflict or short-lived session contention. staff_session_busy is retryable with Retry-After: 1.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                },
                "description": "Present when the integration guard has a measured API budget."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffErrorEnvelope"
                },
                "example": {
                  "error": {
                    "code": "Synthetic documentation example",
                    "message": "Synthetic documentation example",
                    "retryable": false,
                    "field": "Synthetic documentation example",
                    "blockers": []
                  },
                  "request_id": "Synthetic documentation example",
                  "correlation_id": "Synthetic documentation example",
                  "contract_schema_version": "2026-10-03.1"
                }
              }
            }
          },
          "410": {
            "description": "Organization closed or inactive.",
            "headers": {
              "X-Gridex-Contract-Version": {
                "schema": {
                  "type": "string",
                  "const": "2026-10-03.1"
                }
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Correlation-ID": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
[...]
