{
  "openapi": "3.1.0",
  "info": {
    "title": "Gridex Website and Partner Integration API",
    "version": "2026-08-04.2",
    "description": "Canonical V1 contract for tenant context, public contracts, tenant-bound energy-area resolution, current normalized spot price, OPS-owned quote and website applications. public-contracts is a product feed, market-price/current is the current market interval, and quote is the complete customer calculation. Tenant backends never select company_id or calculate price, fees or VAT locally."
  },
  "servers": [
    {
      "url": "https://app.gridex.se"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "legacyApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Integration context"
    },
    {
      "name": "Website contracts"
    },
    {
      "name": "API contracts"
    },
    {
      "name": "Quotes"
    },
    {
      "name": "Customer applications"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Energy area"
    },
    {
      "name": "Switch status"
    },
    {
      "name": "Market price"
    }
  ],
  "paths": {
    "/api/v1/integration/context": {
      "get": {
        "tags": [
          "Integration context"
        ],
        "summary": "Verify the API key tenant context",
        "description": "Scope: integration_context.read. The API key is authoritative; company_id is never accepted as a tenant selector.",
        "responses": {
          "200": {
            "description": "Tenant context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/IntegrationContext"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/IntegrationContext"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope missing or tenant access denied",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "integration_context.read"
            ]
          },
          {
            "legacyApiKeyAuth": []
          }
        ],
        "x-required-scopes": [
          "integration_context.read"
        ]
      }
    },
    "/api/v1/website/public-contracts": {
      "get": {
        "tags": [
          "Website contracts"
        ],
        "summary": "List website-published contracts",
        "description": "Scope: website_contracts.read. Supports ETag/If-None-Match and returns 304. diagnostics=1 is deprecated; use the diagnostics endpoint. Sunset: 2026-10-31. ETag changes when publication version, price options, area prices, validity, channel/website flags or legal snapshot changes.",
        "parameters": [
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business",
                "company"
              ]
            },
            "description": "private or business. company is deprecated and normalized to business."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "diagnostics",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Website contract feed",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Tenant- and channel-specific publication revision token."
              },
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "data",
                    "contracts",
                    "meta",
                    "request_id"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicContract"
                      }
                    },
                    "contracts": {
                      "type": "array",
                      "deprecated": true,
                      "description": "Deprecated compatibility alias for data.",
                      "items": {
                        "$ref": "#/components/schemas/PublicContract"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "tenant_reference",
                        "api_version",
                        "channel",
                        "count",
                        "publication_revision",
                        "publication_updated_at",
                        "contract_schema_version",
                        "feed_state",
                        "empty_feed_authorization"
                      ],
                      "properties": {
                        "tenant_reference": {
                          "type": "string",
                          "pattern": "^tenant_[0-9a-f]{36}$",
                          "description": "Stable opaque tenant identity. It is not the internal company UUID."
                        },
                        "api_version": {
                          "const": "v1"
                        },
                        "channel": {
                          "type": "string",
                          "enum": [
                            "website",
                            "api"
                          ]
                        },
                        "count": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "publication_revision": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "publication_updated_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "contract_schema_version": {
                          "type": "string",
                          "const": "2026-08-04.2"
                        },
                        "feed_state": {
                          "type": "string",
                          "enum": [
                            "contracts_present",
                            "canonical_empty"
                          ]
                        },
                        "empty_feed_authorization": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": false,
                          "required": [
                            "authorized",
                            "reason",
                            "publication_revision",
                            "canonical_source",
                            "affected_offer_references",
                            "blockers"
                          ],
                          "properties": {
                            "authorized": {
                              "type": "boolean",
                              "const": true
                            },
                            "reason": {
                              "type": "string",
                              "enum": [
                                "no_canonical_publications",
                                "canonical_unpublished_or_archived",
                                "publication_validity_ended",
                                "canonical_no_visible_contracts"
                              ]
                            },
                            "publication_revision": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "canonical_source": {
                              "type": "string",
                              "const": "canonical_public_contract_delivery_readiness_v"
                            },
                            "affected_offer_references": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "blockers": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "deprecated_aliases": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "customer_type": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "enum": [
                            "private",
                            "business",
                            null
                          ]
                        },
                        "deprecated_customer_type_alias": {
                          "type": "boolean"
                        }
                      }
                    },
                    "diagnostics": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "offer_variable_monthly_example",
                      "offer_reference": "offer_variable_monthly_example",
                      "contract_offer_id": "offer_variable_monthly_example",
                      "publication_reference": "offer_variable_monthly_example",
                      "product_code": "gridex_variable_monthly",
                      "name": "Gridex Rörligt månadspris",
                      "description": "Rörligt elavtal med månadsupplösning.",
                      "contract_type": "variable_monthly",
                      "energy_direction": "consumption",
                      "customer_type": "private",
                      "price_options": [
                        {
                          "price_option_reference": "variable_monthly_standard",
                          "option_code": "variable_monthly_standard",
                          "customer_name": "Standard",
                          "price_type": "variable_monthly",
                          "contract_type": "variable_monthly",
                          "customer_type": "private",
                          "resolution": "monthly",
                          "currency": "SEK",
                          "unit": "ore_per_kwh",
                          "fixed_price": null,
                          "markup": 10,
                          "monthly_fee": 49,
                          "binding_months": 0,
                          "notice_months": 1,
                          "auto_renew_enabled": false,
                          "renewal_term_months": null,
                          "is_default": true,
                          "default": true,
                          "selection_required": false,
                          "valid_from": "2026-08-01",
                          "valid_to": null,
                          "earliest_start_date": "2026-08-15",
                          "latest_start_date": null,
                          "area_prices": []
                        }
                      ],
                      "pricing": {
                        "visibility": {},
                        "calculation_components": [],
                        "display_components": [],
                        "calculation_contract": {
                          "includes_all_applicable_components": true,
                          "hidden_components_must_be_calculated": true,
                          "market_price_supplied_by_ops": true
                        },
                        "summary_components": []
                      },
                      "legal": {
                        "legal_bundle_reference": "legal_bundle_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
                        "legal_bundle_version_id": "00000000-0000-4000-8000-000000000001",
                        "immutable": true,
                        "required_modules": [
                          "general_consumer_terms",
                          "price_terms"
                        ],
                        "module_versions": [
                          {
                            "id": "00000000-0000-4000-8000-000000000002",
                            "legal_bundle_version_id": "00000000-0000-4000-8000-000000000001",
                            "document_reference": "legal_document_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
                            "module_key": "general_consumer_terms",
                            "version": "2",
                            "title": "Allmänna konsumentvillkor",
                            "published_at": "2026-08-01T00:00:00.000Z",
                            "content_sha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                            "origin": "canonical_bundle_document",
                            "url": "https://app.gridex.se/legal/example/general-consumer-terms"
                          },
                          {
                            "id": "00000000-0000-4000-8000-000000000003",
                            "legal_bundle_version_id": "00000000-0000-4000-8000-000000000001",
                            "document_reference": "legal_document_yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy",
                            "module_key": "price_terms",
                            "version": "1",
                            "title": "Prisvillkor",
                            "published_at": "2026-08-01T00:00:00.000Z",
                            "content_sha256": "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb",
                            "origin": "canonical_bundle_document",
                            "url": "https://app.gridex.se/legal/example/price-terms"
                          }
                        ],
                        "power_of_attorney_version_id": null
                      },
                      "valid_from": "2026-08-01",
                      "valid_to": null,
                      "channel": "website"
                    }
                  ],
                  "contracts": [
                    {
                      "id": "offer_variable_monthly_example",
                      "offer_reference": "offer_variable_monthly_example",
                      "contract_offer_id": "offer_variable_monthly_example",
                      "publication_reference": "offer_variable_monthly_example",
                      "product_code": "gridex_variable_monthly",
                      "name": "Gridex Rörligt månadspris",
                      "description": "Rörligt elavtal med månadsupplösning.",
                      "contract_type": "variable_monthly",
                      "energy_direction": "consumption",
                      "customer_type": "private",
                      "price_options": [
                        {
                          "price_option_reference": "variable_monthly_standard",
                          "option_code": "variable_monthly_standard",
                          "customer_name": "Standard",
                          "price_type": "variable_monthly",
                          "contract_type": "variable_monthly",
                          "customer_type": "private",
                          "resolution": "monthly",
                          "currency": "SEK",
                          "unit": "ore_per_kwh",
                          "fixed_price": null,
                          "markup": 10,
                          "monthly_fee": 49,
                          "binding_months": 0,
                          "notice_months": 1,
                          "auto_renew_enabled": false,
                          "renewal_term_months": null,
                          "is_default": true,
                          "default": true,
                          "selection_required": false,
                          "valid_from": "2026-08-01",
                          "valid_to": null,
                          "earliest_start_date": "2026-08-15",
                          "latest_start_date": null,
                          "area_prices": []
                        }
                      ],
                      "pricing": {
                        "visibility": {},
                        "calculation_components": [],
                        "display_components": [],
                        "calculation_contract": {
                          "includes_all_applicable_components": true,
                          "hidden_components_must_be_calculated": true,
                          "market_price_supplied_by_ops": true
                        },
                        "summary_components": []
                      },
                      "legal": {
                        "legal_bundle_reference": "legal_bundle_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
                        "legal_bundle_version_id": "00000000-0000-4000-8000-000000000001",
                        "immutable": true,
                        "required_modules": [
                          "general_consumer_terms",
                          "price_terms"
                        ],
                        "module_versions": [
                          {
                            "id": "00000000-0000-4000-8000-000000000002",
                            "legal_bundle_version_id": "00000000-0000-4000-8000-000000000001",
                            "document_reference": "legal_document_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
                            "module_key": "general_consumer_terms",
                            "version": "2",
                            "title": "Allmänna konsumentvillkor",
                            "published_at": "2026-08-01T00:00:00.000Z",
                            "content_sha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                            "origin": "canonical_bundle_document",
                            "url": "https://app.gridex.se/legal/example/general-consumer-terms"
                          },
                          {
                            "id": "00000000-0000-4000-8000-000000000003",
                            "legal_bundle_version_id": "00000000-0000-4000-8000-000000000001",
                            "document_reference": "legal_document_yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy",
                            "module_key": "price_terms",
                            "version": "1",
                            "title": "Prisvillkor",
                            "published_at": "2026-08-01T00:00:00.000Z",
                            "content_sha256": "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb",
                            "origin": "canonical_bundle_document",
                            "url": "https://app.gridex.se/legal/example/price-terms"
                          }
                        ],
                        "power_of_attorney_version_id": null
                      },
                      "valid_from": "2026-08-01",
                      "valid_to": null,
                      "channel": "website"
                    }
                  ],
                  "meta": {
                    "tenant_reference": "tenant_0123456789abcdef0123456789abcdef0123",
                    "api_version": "v1",
                    "channel": "website",
                    "count": 1,
                    "publication_revision": 42,
                    "publication_updated_at": "2026-08-01T00:00:00.000Z",
                    "contract_schema_version": "2026-08-04.2",
                    "deprecated_aliases": [
                      "contracts",
                      "contract_offer_id",
                      "publication_reference"
                    ],
                    "feed_state": "contracts_present",
                    "empty_feed_authorization": null
                  },
                  "request_id": "00000000-0000-4000-8000-000000000099"
                }
              }
            }
          },
          "304": {
            "description": "Publication revision has not changed",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Tenant- and channel-specific publication revision token."
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "400": {
            "description": "Invalid query or payload",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Expired, consumed or mismatched quote/idempotency state",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The canonical API contract feed could not be built",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "website_contracts.read"
        ],
        "security": [
          {
            "bearerAuth": [
              "website_contracts.read"
            ]
          },
          {
            "legacyApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/website/public-contracts/diagnostics": {
      "get": {
        "tags": [
          "Website contracts"
        ],
        "summary": "Diagnose canonical website publication readiness",
        "description": "Scope: website_contracts.diagnostics. Uses the same canonical publication graph and readiness sources as the normal feed. The normal data field remains an array.",
        "parameters": [
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business",
                "company"
              ]
            },
            "description": "private or business. company is deprecated and normalized to business."
          }
        ],
        "responses": {
          "200": {
            "description": "Diagnostics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicContract"
                      }
                    },
                    "diagnostics": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "400": {
            "description": "Invalid query or payload",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope missing or tenant access denied",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Expired, consumed or mismatched quote/idempotency state",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "The canonical API contract feed could not be built",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "website_contracts.diagnostics"
        ],
        "security": [
          {
            "bearerAuth": [
              "website_contracts.diagnostics"
            ]
          },
          {
            "legacyApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/contracts": {
      "get": {
        "tags": [
          "API contracts"
        ],
        "summary": "List contracts published to the api channel",
        "description": "Deprecated compatibility alias for GET /api/v1/public-contracts. Uses the same api channel, scope, DTO, ETag and strict tenant resolution. ETag changes when publication version, price options, area prices, validity, channel/website flags or legal snapshot changes.",
        "x-required-scopes": [
          "api_contracts.read"
        ],
        "parameters": [
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "business",
                "company"
              ]
            },
            "description": "private or business. company is deprecated and normalized to business."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API channel feed",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Tenant- and channel-specific publication revision token."
              },
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "data",
                    "contracts",
                    "meta",
                    "request_id"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiPublicContract"
                      }
                    },
                    "contracts": {
                      "type": "array",
                      "deprecated": true,
                      "description": "Deprecated compatibility alias for data.",
                      "items": {
                        "$ref": "#/components/schemas/ApiPublicContract"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "tenant_reference",
                        "api_version",
                        "channel",
                        "count",
                        "publication_revision",
                        "publication_updated_at",
                        "contract_schema_version",
                        "feed_state",
                        "empty_feed_authorization"
                      ],
                      "properties": {
                        "tenant_reference": {
                          "type": "string",
                          "pattern": "^tenant_[0-9a-f]{36}$",
                          "description": "Stable opaque tenant identity. It is not the internal company UUID."
                        },
                        "api_version": {
                          "const": "v1"
                        },
                        "channel": {
                          "type": "string",
                          "enum": [
                            "website",
                            "api"
                          ]
                        },
                        "count": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "publication_revision": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "publication_updated_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "contract_schema_version": {
                          "type": "string",
                          "const": "2026-08-04.2"
                        },
                        "feed_state": {
                          "type": "string",
                          "enum": [
                            "contracts_present",
                            "canonical_empty"
                          ]
                        },
                        "empty_feed_authorization": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": false,
                          "required": [
                            "authorized",
                            "reason",
                            "publication_revision",
                            "canonical_source",
                            "affected_offer_references",
                            "blockers"
                          ],
                          "properties": {
                            "authorized": {
                              "type": "boolean",
                              "const": true
                            },
                            "reason": {
                              "type": "string",
                              "enum": [
                                "no_canonical_publications",
                                "canonical_unpublished_or_archived",
                                "publication_validity_ended",
                                "canonical_no_visible_contracts"
                              ]
                            },
                            "publication_revision": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "canonical_source": {
                              "type": "string",
                              "const": "canonical_public_contract_delivery_readiness_v"
                            },
                            "affected_offer_references": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "blockers": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "deprecated_aliases": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "customer_type": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "enum": [
                            "private",
                            "business",
                            null
                          ]
                        },
                        "deprecated_customer_type_alias": {
                          "type": "boolean"
                        }
                      }
                    },
                    "diagnostics": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "API publication revision has not changed",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Tenant- and channel-specific publication revision token."
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "400": {
            "description": "Invalid query or payload",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope missing or tenant access denied",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "410": {
            "description": "Tenant is terminated and no longer serves external API traffic",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "423": {
            "description": "Tenant is paused and external API traffic is temporarily locked",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "API client rate limit exceeded",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "The canonical API contract feed could not be built",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "bearerAuth": [
              "api_contracts.read"
            ]
          },
          {
            "legacyApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/website/quote": {
      "post": {
        "tags": [
          "Website pricing"
        ],
        "summary": "Create a tenant-bound canonical quote for one published offer and one SE area",
        "description": "Scope: website_quotes.write. Freezes the exact published product/version, selected SE-area price, fees, VAT, assumptions, consumption and requested start date. One quote is consumed by at most one canonical customer application.",
        "x-required-scopes": [
          "website_quotes.write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Canonical quote created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteQuoteResponse"
                },
                "example": {
                  "data": {
                    "quote_reference": "quote_example",
                    "offer_reference": "offer_example",
                    "valid_until": "2026-07-24T17:00:00Z",
                    "input": {
                      "resolution_id": "f8249704-7ce8-4885-93cb-fbb9922ed77d",
                      "price_area": "SE3"
                    },
                    "market_reference": {
                      "provider": "elprisetjustnu",
                      "price_area": "SE3",
                      "reference_type": "preview",
                      "reference_period": "rolling_30_days",
                      "price_sek_per_kwh": 0.655699,
                      "price_ore_per_kwh": 65.5699,
                      "price_ex_vat_sek_per_kwh": 0.655699,
                      "price_ex_vat_ore_per_kwh": 65.5699,
                      "requested_days": 30,
                      "included_days": 30,
                      "period_start": "2026-06-24",
                      "period_end": "2026-07-23",
                      "source_as_of": "2026-07-24T14:02:14Z",
                      "generated_at": "2026-07-24T14:05:00Z",
                      "stale_after": "2026-07-24T17:05:00Z",
                      "effective_stale_at": "2026-07-24T17:02:14Z",
                      "source_currency": "SEK",
                      "unit": "sek_per_kwh",
                      "includes_vat": false,
                      "includes_supplier_fees": false,
                      "includes_grid_fees": false,
                      "is_indicative": true,
                      "is_stale": false,
                      "fallback_used": false,
                      "fallback_reason": null,
                      "source_checksum": "sha256-example"
                    },
                    "estimate": {
                      "monthly_ex_vat": 1000,
                      "monthly_vat": 250,
                      "monthly_inc_vat": 1250
                    },
                    "lines": [],
                    "price_option_reference": "price_option_example",
                    "area_price_reference": null,
                    "invoice_delivery_method": "email",
                    "selected_component_references": [],
                    "mandatory_component_references": [],
                    "conditional_component_references": [],
                    "site_count": 1
                  },
                  "request_id": "0153b491-b4be-444d-b9a4-56573af449e8",
                  "contract_schema_version": "2026-08-04.2"
                }
              }
            },
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Published offer not found for tenant",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Published version conflict",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Area price or quote input cannot be used",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Quote creation failed",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "website_quotes.write"
            ]
          },
          {
            "legacyApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/website/quote/validate": {
      "post": {
        "tags": [
          "Website pricing"
        ],
        "summary": "Validate a canonical quote before customer application",
        "description": "Scope: website_quotes.validate. Verifies tenant, offer, customer type, SE area, grid area, postal code, annual consumption and requested start date. A quote already consumed by another application is rejected.",
        "x-required-scopes": [
          "website_quotes.validate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteQuoteValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "data",
                    "request_id",
                    "contract_schema_version"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebsiteQuoteValidationData"
                    },
                    "request_id": {
                      "type": "string"
                    },
                    "correlation_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "contract_schema_version": {
                      "type": "string",
                      "const": "2026-08-04.2"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Quote or offer not found",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Quote already consumed or binding mismatch",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Quote expired or no longer valid",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Validation failed",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "website_quotes.validate"
            ]
          },
          {
            "legacyApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/website/customer-applications": {
      "post": {
        "tags": [
          "Customer applications"
        ],
        "summary": "Create a customer application bound to a published offer",
        "description": "Scope: website_applications.write. Idempotency-Key krävs. Tenant härleds enbart från API-nyckeln. auth_user_id och customer_portal_user_id krävs som samma verifierade UUID. OPS committar canonical kund, kundnummer, site/mätpunkt, avtal, juridik, portalidentitet, workflow och ett beständigt customer_application_continuation-jobb. status=accepted betyder att denna beständiga commit är klar; e-post, anläggningsuppslag, leverantörsbyte och webhooks fortsätter asynkront och följs via statusendpointen.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Canonical graph and quote committed; all required idempotent post-commit evidence/workflow steps also completed and durable automatic processing queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteCustomerApplicationResponse"
                }
              }
            },
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "400": {
            "description": "Invalid query or payload",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "API-nyckel saknas eller är ogiltig",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope eller tenantbehörighet saknas",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Refererad resurs finns inte inom verifierad tenant",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Expired, consumed or mismatched quote/idempotency state",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Application validation error",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Temporärt beroendefel eller canonical resolution/workflow är inte tillgänglig",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "website_applications.write"
        ],
        "x-automatic-domain-events": [
          "customer_application.accepted",
          "customer_application.needs_information",
          "customer_application.failed",
          "facility_information.requested",
          "facility_information.received",
          "supplier_switch.requested",
          "supplier_switch.dispatched",
          "supplier_switch.confirmed",
          "supplier_switch.rejected",
          "supply_period.activated",
          "contract.activated"
        ],
        "security": [
          {
            "bearerAuth": [
              "website_applications.write"
            ]
          },
          {
            "legacyApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/website/energy-area/resolve": {
      "post": {
        "tags": [
          "Website energy area"
        ],
        "summary": "Resolve canonical SE price area independently from grid-owner and EDIFACT readiness",
        "description": "Scope: website_energy_area.resolve. OPS evaluates full-address polygon/master evidence first and may use bounded postal/city candidate consensus as a pricing-only fallback. pricing_ready and quote_ready depend on price_area_assurance; facility lookup, switch creation and EDIFACT remain separately blocked until verified network context exists.",
        "x-required-scopes": [
          "website_energy_area.resolve"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteEnergyAreaResolveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolution completed or requires a next action",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsiteEnergyAreaResolveResponse"
                },
                "examples": {
                  "postal_single_area_pricing_ready": {
                    "summary": "Postal/city consensus resolves SE3 for pricing but not EDIFACT",
                    "value": {
                      "data": {
                        "resolution_id": "b5f0d364-ad29-46a6-b6bc-7f7e81340932",
                        "price_area": "SE3",
                        "grid_area_code": null,
                        "grid_area_name": null,
                        "grid_owner_name": "Föreslagen nätägare",
                        "resolution_status": "postal_suggested",
                        "confidence": 0.85,
                        "price_area_assurance": {
                          "status": "estimated",
                          "price_area": "SE3",
                          "confidence": 0.85,
                          "source": "postal_city_consensus",
                          "candidate_count": 2,
                          "unique_price_area_count": 1,
                          "source_version": "2026-08-04T15:00:00.000Z",
                          "evidence": {
                            "city_scope": "exact_city",
                            "price_areas": [
                              "SE3"
                            ]
                          }
                        },
                        "next_required_action": "Verifiera föreslagen nätägare innan EDIFACT skickas.",
                        "warnings": [
                          "postal_code_multiple_grid_area_candidates"
                        ],
                        "resolved_at": "2026-08-04T15:28:00.000Z",
                        "expires_at": "2026-08-05T15:28:00.000Z",
                        "resolver_version": "energy-resolver-v2",
                        "geodata_version": null,
                        "source": {
                          "chain": [
                            "postal_code",
                            "platform_postal_code_grid_mappings",
                            "postal_price_area_consensus"
                          ],
                          "resolver_version": "energy-resolver-v2",
                          "geodata_version": null
                        },
                        "capabilities": {
                          "pricing_ready": true,
                          "quote_ready": true,
                          "facility_lookup_ready": false,
                          "switch_request_creatable": false,
                          "switch_dispatch_ready": false
                        },
                        "blockers": {
                          "pricing": [],
                          "quote": [],
                          "facility_lookup": [
                            {
                              "code": "grid_area_missing",
                              "message": "Verifierat nätområde saknas.",
                              "retryable": false
                            },
                            {
                              "code": "grid_owner_missing",
                              "message": "Verifierad nätägare saknas.",
                              "retryable": false
                            }
                          ],
                          "switch_creation": [
                            {
                              "code": "grid_area_missing",
                              "message": "Verifierat nätområde saknas.",
                              "retryable": false
                            },
                            {
                              "code": "grid_owner_missing",
                              "message": "Verifierad nätägare saknas.",
                              "retryable": false
                            }
                          ],
                          "switch_dispatch": [
                            {
                              "code": "grid_area_missing",
                              "message": "Verifierat nätområde saknas.",
                              "retryable": false
                            },
                            {
                              "code": "grid_owner_missing",
                              "message": "Verifierad nätägare saknas.",
                              "retryable": false
                            },
                            {
                              "code": "switch_context_required",
                              "message": "Fullmakt, anläggning, aktuell leverantör, PRODAT-route och transportberedskap måste verifieras i kundflödet.",
                              "retryable": false
                            }
                          ]
                        },
                        "conflict_code": null,
                        "error_code": null,
                        "retryable": false
                      },
                      "request_id": "ec75aee9-cc8d-45be-afa1-027ba7258a45",
                      "correlation_id": "ec75aee9-cc8d-45be-afa1-027ba7258a45",
                      "retryable": false,
                      "contract_schema_version": "2026-08-04.2"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Resolution failed",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Resolver failed",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "website_energy_area.resolve"
            ]
          },
          {
            "legacyApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/website/switch-status": {
      "get": {
        "tags": [
          "Switch status"
        ],
        "summary": "Read supplier-switch status for an application",
        "description": "Scope: website_switch_status.read. application_number is resolved strictly inside the API key tenant. Internal company, application and switch UUIDs are not exposed.",
        "parameters": [
          {
            "in": "query",
            "name": "application_number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current application and supplier-switch status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SwitchStatus"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/TenantMeta"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            }
          },
          "400": {
            "description": "Invalid query or payload",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Application not found in tenant",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Status unavailable",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [
              "website_switch_status.read"
            ]
          },
          {
            "legacyApiKeyAuth": []
          }
        ],
        "x-required-scopes": [
          "website_switch_status.read"
        ]
      }
    },
    "/api/v1/openapi/website-integration-v1.json": {
      "get": {
        "summary": "Hämta Website Integration OpenAPI",
        "description": "Publik dokumentationsendpoint. Ingen API-nyckel krävs och endpointen används endast för utveckling, typgenerering och kontraktskontroll — aldrig som runtime-konfiguration.",
        "security": [],
        "responses": {
          "200": {
            "description": "Versionerad OpenAPI JSON",
            "headers": {
              "X-Gridex-Contract-Version": {
                "$ref": "#/components/headers/GridexContractVersion"
              },
              "X-Request-ID": {
                "$ref": "#/components/headers/RequestId"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Vary": {
                "$ref": "#/components/headers/Vary"
              },
              "Cache-Control": {
[...]
